[2017-01-14 01:31] paulcpederson commented on #759
@ajbroadbent I didn't really design the buttons to go *outside* the `card-content`. But with two buttons I think the way you're doing it does look better.

I just added `display: flex` to the `nav` element and that seems to help, so maybe give that a shot?

[2017-01-14 01:33] paulcpederson commented on #759
I'm not sure why it's `1px` off though, maybe because the grouped buttons are floated?

In any case good 👀 !

[2017-01-14 01:35] paulcpederson opened #761 "Fix display of file type inputs"
In a recent refactor of form styles, `<input type="file">` elements now look broken.

Should fix these styles in the next release.

[2017-01-14 01:36] paulcpederson commented on #761
<img width="1248" alt="screen shot 2017-01-13 at 5 35 49 pm" src="https://cloud.githubusercontent.com/assets/1031758/21951110/cd7135fe-d9b6-11e6-9de1-fe16e8026518.png">

[2017-01-17 15:57] ajbroadbent commented on #759
I'll try that.  I assumed this method was a little unorthodox.  It's what the author figured out to fit two buttons side by side in a card.  Is there a better way to fit two buttons side by side at the bottom of a card?

[2017-01-17 23:08] asangma opened #762 "Grouped Radio Button"
CAN I HAS?

[Kinna like-a dis?](http://codepen.io/paulcp/pen/rjWZwp)

@paulcpederson

[2017-01-17 23:39] paulcpederson commented on #762
Sketched a couple options for this:

http://codepen.io/paulcp/pen/rjWZwp/

<img width="304" alt="screen shot 2017-01-17 at 3 37 19 pm" src="https://cloud.githubusercontent.com/assets/1031758/22044730/f0785df4-dcca-11e6-91e6-1c8896ac1969.png">

and

http://codepen.io/paulcp/pen/bgBxae

<img width="448" alt="screen shot 2017-01-17 at 3 37 32 pm" src="https://cloud.githubusercontent.com/assets/103175

[2017-01-18 00:10] asangma commented on #762
😻

[2017-01-18 02:06] paulcpederson commented on #759
I don't think there is a better way. We could develop a way to do this nicely in the framework, though.

[2017-01-18 02:08] paulcpederson commented on #730
Going to close this issue and I can open a new issue in the future if we really want to address this.

[2017-01-18 02:08] #730 closed

[2017-01-18 02:11] paulcpederson opened #763 "ESC keypresses not unattached from window after closing site search"
Steps to reproduce:

1. open site search
2. Hit `ESC`
3. Now hit `ESC` again and notice how the search icon changes. It probably should not do that.

[2017-01-18 15:46] ajbroadbent commented on #759
Thanks! For now I'll just use the flex display.  That seems to work beautifully.

[2017-01-18 15:46] #759 closed

[2017-01-18 23:35] oknoway commented on #763
Additionally, ensure that `blur()` is called on the input during the close process.

[2017-01-18 23:37] oknoway opened #764 "dropdown-btn is misaligned in IE <= 11"
Noticed in ArcGIS/arcgis-for-developers/issues/4548, `.dropdown-btn:after` needs more line-height to align properly.

[2017-01-19 14:50] asangma commented on #762
But yeah...I am cool with the light blue stuff.
Can we reduce the font size for these dudes?  Or would that be breaking a pattern?

[2017-01-19 18:17] sanjibpanda opened #766 "Scrolling on Modal box scrolling parent window as well"
If modal box is opened and you scroll on top of it the parent window also getting scrolled.

Also, folks are wondering whether we should close the modal box when user clicks anywhere outside of modal box?

[2017-01-20 18:29] oknoway commented on #699
We could use icons for:

- Ideas (lightbulb?)
- Video
- Training/Presentation

[2017-01-20 19:10] alaframboise commented on #699
Based on some apps I created lately, here's a few more:

* 2D
* 3D
* LayerList

[2017-01-20 22:43] patrickarlt opened #767 "Should alerts be full width?"
@paulcpederson I keep coming across cases where I want to use the `.alert` component but I want it to stretch across the full width of the container. Shouldn't this be the default?

[2017-01-20 23:03] paulcpederson commented on #767
This would allow developers to create alerts with really long line lengths, hindering readability.

A modifier that just adds `max-width: none` would satisfy what you need, right? `alert-full` or something?

[2017-01-21 01:42] patrickarlt commented on #767
`alert-full` would be fine.

[2017-01-26 00:22] #764 closed

[2017-01-26 00:29] paulcpederson commented on #766
I will look at the scrolling.

Clicking outside to close was talked about a while back. Several people were concerned that their intense workflows that happen inside modals would be lost accidentally by clicking outside the dialog so that's why we require an explicit click of the close button to close it. Does that make sense?

[2017-01-26 00:30] paulcpederson commented on #762
I think we *should* reduce the font size. Other form elements I think use `font-size--1` and `font-size--2`

[2017-01-26 02:33] sanjibpanda commented on #766
Thanks @paulcpederson! Makes sense to me. I will pass the info to team.

[2017-01-26 16:36] sanjibpanda commented on #766
@paulcpederson - Also, modal box is not opening on IE. Wondering whether its a known issue.

[2017-01-26 20:52] mharrower commented on #766
Thanks for the explanation @paulcpederson - makes sense.

Very minor priority, but mostly curious: do we have any way setup something like the Calcite modal with "close_on_click_outside = TRUE / FALSE" so that our modal could be configured to close on click-outside? Ours is a vanilla, passive FAQ that folks try to dismiss by clicking outside when they're read it (versus a panel with an OK button)

[2017-01-26 22:10] paulcpederson commented on #766
you could maybe home roll this feature by using events on the calcite-web event bus. The pseudo code would be:

[code]

Probably would need to detach this and maybe check for click target being inside the modal content as well. Not sure if this helps.

We could possibly add an options object to `calcite.modal` like `calcite.modal({clickToClose: true})`?

[2017-01-26 22:12] mharrower commented on #766
Sweet! Thanks Paul!

[2017-02-07 17:42] paulcpederson opened #768 "Scope button styles to `btn` class"
Currently the button styles are applied to raw button elements. This causes problems when folks want to use buttons as a UI element but don't want to inherit the actual button styles. We should scope the styles to the `btn` class. This will be a breaking change, but most frameworks (foundation, bootstrap, etc) do this already.

I've also been using a class called `btn-link` in other projects which

[2017-02-08 23:20] oknoway opened #769 "IE11: Potential Rounding Error when using .card inside .block-group"
When a border is on a child of `.block-group`, the `flex-basis` and `width` values need the border-width added to the `calc()` statement.

#### Might be fixable with `box-sizing: border-box`.

- https://github.com/ArcGIS/arcgis-for-developers/issues/4644
- Fixed in https://github.com/ArcGIS/arcgis-for-developers/commit/bc4c16702a4d67b0529f639f78beb7043efe945f

[2017-02-09 22:19] paulcpederson commented on #760
I don't think this style is common enough to distribute with the actual framework.

[2017-02-09 22:19] #760 closed

[2017-02-09 22:20] paulcpederson commented on #749
I'm going to close this issue. People that want to use the new global nav user dropdown will be able to install that as a dependency straight from the source. I don't see a reason to have those styles duplicated here.

[2017-02-09 22:20] #749 closed

[2017-02-09 22:21] paulcpederson commented on #753
this is probably fine.

[2017-02-09 22:21] #753 closed

[2017-02-09 22:23] paulcpederson commented on #754
closing this, feel free to reopen this if questions remain unanswered, or open new issues with actionable bugs or feature requests.

[2017-02-09 22:24] jonathantneal commented on #754
Has container-width doc been updated?

[2017-02-09 22:32] paulcpederson commented on #755
I don't have access to the swatches, photoshop guides, etc, but I would think that the photoshop guide should update to match calcite web as the photoshop file is design collateral and not an actual product.

I'm going to close this issue, but feel free to reopen with a list of discrepancies that should be fixed on the calcite-web side and I can take a look at updating them.

[2017-02-09 22:34] jonathantneal commented on #755
Fair enough. Who do we ping on the design side to be sure they are in conformance?

[2017-02-09 22:38] paulcpederson commented on #754
@jonathantneal no thanks for the reminder

[2017-02-09 22:40] paulcpederson commented on #755
I'm not sure, @asangma do you know the answer to that?

[2017-02-10 17:15] asangma commented on #755
Hurm...which Adobe files are you referencing?

Also, I think the approach that the ol' [Patterns site](http://webopsoktaportal.esri.com//Saml?url=http%3A%2F%2Fpatterns.esri.com%2Fcolors%2F) used was a better one because it doesn't depend on a graphics asset.

[2017-02-10 17:16] jonathantneal commented on #755
@asangma, that link is not working for me. Would you double check it?

[2017-02-10 17:17] asangma commented on #755
☝️ edited.

[2017-02-10 17:40] asangma commented on #755
Because this is a closed issue, I will just say that discussion with Bryan indicates that, broadly, web-based reference/tool would be best if there is fluid way to retain a synced ASE<sup>1</sup> file.  And we will get to have a meeting on this...sometime in the future™.

<sup>1</sup>Photoshop & Illustrator palette.

[2017-02-10 17:45] paulcpederson commented on #755
Yeah we can reopen if the place those resources live is going to be calcite-web, let me know.

[2017-02-10 17:51] asangma commented on #755
Yeah...I was thinking that.

Can we rename the issue to something about **color** if we reopen?

[2017-02-10 17:51] asangma commented on #755
#persnickety

[2017-02-10 17:53] paulcpederson commented on #755
If you have a dream for the title of this issue, follow that dream, follow your heart.

[2017-02-10 17:55] paulcpederson commented on #755
![](http://awesomegifs.com/wp-content/uploads/napoleon-dynamite-dove-hands.gif)

[2017-02-10 21:07] asangma commented on #755
LOL!

[2017-02-10 21:08] asangma commented on #755
I don't seem to have some permissions on this issue.

[2017-02-10 21:16] jonathantneal commented on #755
What permissions are you looking for?

![](http://lghttp.17653.nexcesscdn.net/808B16/cdn_images/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/f/t/ft231a_2.jpg)

[2017-02-10 21:36] asangma commented on #755
![dead](https://media.giphy.com/media/eVDL1cV8cjhT2/giphy.gif)

[2017-02-10 21:48] asangma commented on #755
edit title, reopen issues, go play with my friends

[2017-02-10 21:58] paulcpederson commented on #755
yeah, you're not in the cool club, I could probably add you though if you promise to be cool

[2017-02-10 22:01] paulcpederson commented on #755
@asangma ok, you should be able to edit now?

[2017-02-10 22:29] asangma commented on #755
![Cool club.](http://media3.giphy.com/media/62PP2yEIAZF6g/giphy.gif)

[2017-02-10 22:38] asangma commented on #755
Some suggestions:
- [ ] Web resource is the authoritative one (i.e. not an ASE palette)
- [ ] Retain current Calcite color vars (e.g. `Calcite_Gray_050`)
- [ ] Compatible with Calcite semantic color classes (e.g. `light-blue`, `darkest-gray`)
- [ ] Super easy to see which colors have WCAG AA contrast (e.g. I click on a color and it shows what colors give minimum contrast for 12pt regular text)
- [

[2017-02-14 18:00] nullrocks opened #770 "Missing '.dropdown-right' RTL support"
## missing RTL styles for .dropdown-right

### Fix?
[code]

[2017-02-14 19:18] julio8a opened #771 "Loader alignment"
We're having some issues with the loader in Operations Dashboard for ArcGIS, though I believe this is a general issue for anyone. When the text `Loading...` is greater it properly centers. However, when the text is less characters it's off center.

![image](https://cloud.githubusercontent.com/assets/6144462/22944951/59054f5c-f2a7-11e6-958c-46878cfe972b.png)

[2017-02-15 23:46] paulcpederson opened #772 "Allow individual CSS modules to be imported"
For those consuming calcite web that don't have Sass in their stack, would be nice to allow them to import individual components/patterns. The following outlines the desired structure of the CSS folder in `dist`:

[code]

In this way one could include just the CSS for `cards` without getting any other CSS even without using a precompiler.

[2017-02-22 18:14] ChrisMahlke opened #773 "Multiline tooltips in Edge"
The width in multiline tooltips in Microsoft Edge becomes very small and content in the tooltip becomes truncated.

I add the class `tooltip tooltip-right tooltip-multiline` to a tooltip to repro the issue in Edge.

@TamaraYoder

[2017-02-22 21:26] paulcpederson opened #774 ""Enter" key on item inside accordion closes accordion"
If there is a button inside an accordion and the user uses the enter key to trigger that button, that accordion section will close. This makes it hard to have accessible UIs inside of an accordion because keyboard users will have to reopen the accordion section every time they engage with a UI element inside the accordion.

[2017-02-22 21:49] TamaraYoder opened #775 "Indicator bar on second tier nav is confusing"
This was brought up during an internal review of our redesigned Living Atlas website- Active page and hover have the same blue bar so can be confusing (in this example, I’m on the Home page and hovering over Benefits. Looks like both pages are active).
![014e9490-e6f8-11e6-8388-5f93e1097f87](https://cloud.githubusercontent.com/assets/11525122/23234055/b3b64da2-f905-11e6-963b-8f471b57c18f.png)

[2017-02-22 21:56] paulcpederson commented on #775
Yes, the active indicator is the same as hover. But I should point out that `:hover` is supposed to also use the blue for it's text color. I'm guessing some of the overrides you've added to the top nav removed this behavior? There should also be a gap between the nav items?

Open to suggestions as to the styling of the hover/focus state, though.

[2017-02-22 21:58] TamaraYoder commented on #775
Adding @sanjibpanda and @ChrisMahlke to this conversation, as they are the developers for the site.

Can you please answer @paulcpederson 's question above?

[2017-02-22 22:10] paulcpederson commented on #730
https://robots.thoughtbot.com/building-the-future-of-floated-css-grids#the-push-left-grid

[2017-02-22 22:50] sanjibpanda commented on #775
Yes, There should be a gap between the nav items. We can make it happen with a minor fix. I think intentionally we have replaced (replaced with white) default :hover blue color text as it was not looking good on black background.

[2017-02-22 23:10] paulcpederson commented on #775
@TamaraYoder You could change the border color for hover, or add a slight translucent background on hover maybe. I think since this is pretty custom to Living Atlas I'm going to close this issue. Feel free to reopen, though if there is a change in Calcite Web I can make to help with this.

[2017-02-22 23:10] #775 closed

[2017-02-25 00:18] paulcpederson opened #776 "Right to left style for tabs"
Tabs currently don't float to the right on right-to-left. Need to float them right and also flip the border declarations.

[2017-03-01 01:01] paulcpederson commented on #769
I'm going to close this as there is now apparently no border on cards? And it already has `box-sizing: border-box` which it inherits from the `block` class.

[2017-03-01 01:01] #769 closed

[2017-03-01 23:14] isaacviel opened #778 "Add word-wrap: break-word to card-content class"
Currently in `.card-content` when a single word is longer than its containing div there is no wrap, which lets the characters breakout in a single line. It would be nice to have the word wrap in the div.

![dashboard arcgis for developers](https://cloud.githubusercontent.com/assets/3312529/23485736/9edfeaf0-fe91-11e6-8a96-cf02d7189e06.jpg)

[2017-03-02 00:24] #763 closed

[2017-03-02 00:24] #767 closed

[2017-03-02 00:24] #768 closed

[2017-03-02 00:24] #770 closed

[2017-03-02 00:24] #771 closed

[2017-03-02 00:24] #774 closed

[2017-03-02 00:24] #776 closed

[2017-03-02 01:07] #754 closed

[2017-03-02 01:07] paulcpederson commented on #754
Doc updated.

[2017-03-07 00:06] paulcpederson commented on #736
@ssylvia so, I'm looking into this right now, and I noticed that we already copy the source js over to the `dist` on release. For example, you can actually do this already:

[code]

The filepath is kind of gross, though, and doing it that way would mean that if I changed how the folder is organized in the future it would be a breaking change, which isn't ideal.

I'm actually leaning towards creati

[2017-03-08 19:24] paulcpederson commented on #772
I think this is going to involve re-engineering how we do our Sass imports. Should move to a system where:

1. There are two files for each component/pattern in the lib. One is pure sass mixins/variables with no outputted CSS. The other imports the pure sass file, checks for the proper include variable (and sets it to true if it's undefined), and outputs CSS.
2. Each pure sass file should import a

[2017-03-08 19:27] paulcpederson commented on #772
This would have the upside of also allowing developers to import self-sufficient patterns directly from the lib, like:

[code]

Which would give them just the pure sass for the alerts with no sass generated. This could be a useful feature for those that are needing to use sass mixins with no generated styles.

[2017-03-10 19:13] noahmulfinger opened #782 "Feature Request: Add a page with full list of css classes in docs"
I think a useful feature for the documentation would be having a reference page with the full list of the available css classes. Not sure exactly what design would be best, but it could just be something like all of the `Modifier` sections of each doc page all put together in a large, filterable list (like the icon search filter).

cc @oknoway

[2017-03-10 19:47] paulcpederson commented on #782
@noahmulfinger this is a good idea. What would you expect the url of this page to be? And how would you expect to get there?

Maybe `http://esri.github.io/calcite-web/quick-reference/` or `http://esri.github.io/calcite-web/modifiers/` or something? With a link in the top nav?

Not sure if it would work but we could also do this in the search overlay itself maybe?

![sketch](https://cloud.githubuse

[2017-03-10 19:48] paulcpederson commented on #782
Each header there would be links as well, obviously

[2017-03-10 19:51] asangma commented on #782
"CSS Cheatsheet"?

[2017-03-10 20:02] paulcpederson commented on #782
To cast your vote for the name of this page, add an emoji reaction to this comment:

⚡️  Quick Reference
👻  Cheat Sheet

@oknoway @patrickarlt @noahmulfinger @asangma @araedavis

[2017-03-13 15:48] patrickarlt opened #783 "Add helper for centering columns"
[code]

[2017-03-13 16:40] paulcpederson commented on #783
@patrickarlt is this for columns in the `grid-container` or for blocks in a block group?

[2017-03-13 18:20] nullrocks opened #784 "Add .js-sticky to Docs"
There is no documentation for .js-sticky

[code]

Also, sometimes it does not update it's state/position causing this:
![screen shot 2017-03-13 at 12 12 31 pm](https://cloud.githubusercontent.com/assets/1198518/23869008/88de1bfc-07ef-11e7-84ef-76f3cea86fec.png)

[2017-03-14 18:21] paulcpederson commented on #782
assigning to @oknoway as I think he's working on this ✨  like a boss ✨

[2017-03-14 18:24] oknoway commented on #782
If by `boss` you mean, repeatedly banging his head against a terminal until something happens… then, yeah.

[2017-03-15 23:29] paulcpederson commented on #784
OK, I just found where the sticky docs are: http://esri.github.io/calcite-web/documentation/grid/#scroll-sticky

I think we should probably mention this in the javascript tab as well.

[2017-03-15 23:48] paulcpederson commented on #782
🎉  http://esri.github.io/calcite-web/quick-reference/ 🎉

[2017-03-15 23:48] #782 closed

[2017-03-15 23:55] paulcpederson opened #788 "Drawers get styled very strangely on mobile phones"
![screen shot 2017-03-15 at 4 52 51 pm](https://cloud.githubusercontent.com/assets/1031758/23975738/f5cde434-099f-11e7-8134-2d1c51f5f1af.png)
![screen shot 2017-03-15 at 4 53 04 pm](https://cloud.githubusercontent.com/assets/1031758/23975737/f5c9ce80-099f-11e7-8d72-46a4701b0d7e.png)

Scales down the main content.

[2017-03-16 21:09] asangma commented on #782
Wooo!

[2017-03-17 17:42] patrickarlt commented on #783
@paulcpederson columns in a `.grid-container` we do lots of this on the developer site:

[code]

[2017-03-20 17:56] paulcpederson opened #791 "Add suggestions UI for site search"
During user testing it became clear that users expect search suggestions. Google has trained people to expect near-instant suggestions for in-progress searches.

By building a UI and a few event hooks in the search JS we could provide an easy way for people to use something like the Google search appliance suggest api and have a working suggest UI.

Suggest as a feature is something we should be a

[2017-03-20 22:28] jgravois opened #792 "how to: display content at the baseline of a card"
hello!

i have a question that is _0% likely_ to be a bug in calcite-web and _100% likely_ to be evidence that i do not understand the fundamentals of css.

how does one go about laying out specific content along the bottom of a card?

jsbin: http://jsbin.com/kopuzud/1/edit?html,output

[code]

**i tried**:
`leader`, `footer`, the generic css `margin-top` and even using flexbox `align-items` to no

[2017-03-20 23:10] paulcpederson commented on #792
http://jsbin.com/dufewujewa/1/edit?html,output

What you're looking for is the calcite-web class `card-last` which should be placed on the penultimate item. Essentially, any element after the element with `card-last` will be aligned with the bottom of the card. The class just adds `margin-bottom: auto` which works magically in flex-box.

[code]

In this example I've also added a bit of space above

[2017-03-20 23:15] jgravois commented on #792
arghh.... the doc site already even had an example of it in use!

thanks magic man. i appreciate your patience.
![magic-man](https://pbs.twimg.com/profile_images/564271687437283328/Ias5gTV4.png)

[2017-03-20 23:15] #792 closed

[2017-03-20 23:20] paulcpederson commented on #792
![giphy](https://cloud.githubusercontent.com/assets/1031758/24126042/13f9d75a-0d89-11e7-93a0-35329597b3b4.gif)

[2017-03-22 20:47] paulcpederson opened #793 "Trap keyboard focus in modals"
I could have sworn that this already worked, but currently when you open a modal, we don't "trap" the keyboard focus and keep it in that modal. This is an accessibility requirement.

Maybe this broke in a recent release?

[2017-03-23 20:11] asangma commented on #792
I just wanted to appreciate the use of Adventure Time here.

[2017-03-27 19:46] paulcpederson opened #794 "If you resize the browser window while search is open, search/close icons get mismatched"
1. start large
2. open search
3. make browser window smaller (tablet size)
4. Notice top icon is now search instead of close:

![screen shot 2017-03-27 at 12 41 18 pm](https://cloud.githubusercontent.com/assets/1031758/24374883/4f47fb72-12eb-11e7-8eb8-4bef58ccea26.png)

[2017-03-31 03:28] patrickarlt commented on #793
@paulcpederson FWIW I've been using https://allyjs.io/ for this stuff lately, its a little heavy but it handles lots of fun edge cases and is pretty easy to work with.

[2017-04-03 21:47] sympletech opened #797 "Need to update Avenir to new font family declarations"
**New StyleSheet**
http://fast.fonts.com/cssapi/ce1d92e6-a07d-4298-8523-37e4a616768e.css

**New Font Family Names**
'Avenir Next W05 Heavy Italic'
'Avenir Next W05 Heavy'
'Avenir Next W05 Bold Italic'
'Avenir Next W05 Bold'
'AvenirNextLTW02-DemiIta'
'Avenir Next W05 Demi'
'Avenir Next W05 Medium Italic'
'Avenir Next W05 Medium'
'AvenirNextLTW02-Italic'
'AvenirNextLTW02-Regular'
'AvenirNextW02-Ligh

[2017-04-03 21:49] #736 closed

[2017-04-03 21:49] #748 closed

[2017-04-03 21:49] #761 closed

[2017-04-03 21:50] #778 closed

[2017-04-04 18:29] vijayendranj opened #798 "Modal content still using text-align:start; not supported in I.E."
#503
![screen shot 2017-04-04 at 11 27 49 am](https://cloud.githubusercontent.com/assets/6799595/24672516/e34e05a2-1929-11e7-91b0-3b83b73d0713.png)

[2017-04-20 23:17] sympletech commented on #797
These changes have been submitted in PR - https://github.com/Esri/calcite-web/pull/801

[2017-04-20 23:32] julio8a opened #802 "Firefox Windows – Checkbox border"
When using Firefox on Windows, clicking on a checkbox applies a strange border. Goes away once you click away anywhere.

However, it looks pretty bad when utilizing checkboxes. screenshot below.

![image](https://cloud.githubusercontent.com/assets/6144462/25256588/b9d76d52-25e6-11e7-9ec5-3212869d11a3.png)

[2017-04-20 23:53] paulcpederson commented on #802
@julio8a weird. That was a pretty normal focus state before. I'm assuming firefox changed something about their `auto` outline value. Removing the `auto` declaration fixes it. I'll try to get this in the next release.

[2017-04-21 16:21] paulcpederson commented on #755
I think we could also think about listing WCAG 2.0 color combinations. Sort of like https://polaris.shopify.com/visuals/colors#color-combinations

[2017-04-21 18:23] paulcpederson opened #803 "Dropdowns don't have enough contrast against the background"
Darkening the border of dropdown menus to `#ddd` and slightly darkening the box-shadow would go a long way towards making the menu feel more like it's "floating" *above* content.

Currently the style is not distinct enough, and the menu looks chaotic and hard to pick out.

[2017-04-21 21:38] TheBlueDog opened #804 ".input-minimal background should be transparent"
The `input-minimal` class is inheriting the white background from `input`. It should be transparent.

https://github.com/Esri/calcite-web/blob/master/lib/sass/calcite-web/components/_form.scss#L13

@asangma

[2017-04-21 21:39] paulcpederson commented on #804
@TheBlueDog agree.

[2017-04-21 21:46] asangma commented on #804
@TheBlueDog
![coin](https://cloud.githubusercontent.com/assets/12503298/25297228/51744f9e-26a1-11e7-9875-a73b8a71dd84.gif)

[2017-04-25 16:13] ajbroadbent opened #805 "margin-left-1 class adding extra margin for rtl pages"
On pages that are rtl instead of ltr, the margin-left-1 class adds both a left margin and a right margin instead of just adding a right margin.  This is occurring in version 1.0.0-beta.33.

![image](https://cloud.githubusercontent.com/assets/20780983/25395838/4725ad1e-2997-11e7-9d50-41fb51c912ec.png)
![image](https://cloud.githubusercontent.com/assets/20780983/25395874/66e13a1a-2997-11e7-876e-613c

[2017-05-05 20:22] tim-white-esri opened #806 "pre-X overridden by :first-child selector above 1525.5px"
For columns, the "pre-x" is not defined for larger views. The styles apply only between 860px and 1524.5px:

[code]

With the upper limit of 1524.5px, anything above that loses the `margin-left` offset causing the content to shift to the left.

The upper limit should be removed. Also suggest removing the subpixel from media queries.

This is verified for `class="pre-4"` and can be seen http://www.

[2017-05-05 22:28] paulcpederson commented on #806
This is actually a specificity bug dealing with the `:first-child` pseudo-selector. We do want the media query to end, but the larger media query needs to apply styles to the `first` and `last` child selectors as well. Will add to next release.

[2017-05-05 22:30] paulcpederson commented on #707
Looks like this might not work with the new monotype licensing, closing

[2017-05-05 22:30] #707 closed

[2017-05-12 16:01] patrickarlt commented on #798
Since `text-content: start;` isn't supported in IE 11 this makes it so all the text in modals is centered in IE.

![screenshot 2017-05-12 08 16 58](https://cloud.githubusercontent.com/assets/378557/26006470/59d68b88-36f1-11e7-8242-514cc020f2d3.png)

[2017-05-12 16:26] JasonHine opened #808 "Three links in body of Code Styleguides Overview page return 404 error"
The three links in the body of this page:
http://esri.github.io/calcite-web/guides/code/

... don’t work.  I’m referring to the numbered list in the body, not the side nav (which works as expected).

[2017-05-12 16:56] paulcpederson commented on #808
Thanks @JasonHine I'll try to get a fix in for this

[2017-05-16 23:06] ffaubry opened #809 "Constants in calcite-web-dark are not marked as !default"
This is preventing override of the constants.

[2017-05-17 18:04] paulcpederson commented on #809
OK, just cut a new release, thanks for the contribution @ffaubry !

[2017-05-17 18:04] #809 closed

[2017-05-24 22:44] jonathantneal commented on #797
@paulcpederson, now that #807 has been merged and [RC5](https://github.com/Esri/calcite-web/releases/tag/v1.0.0-rc.5) is shipped, does this mean this may be closed?

[2017-05-24 22:44] paulcpederson commented on #797
YES!

[2017-05-24 22:44] #797 closed

[2017-05-26 18:46] paulcpederson opened #812 "Update Instagram Icon"
Instagram icon should be updated to reflect their latest branding.

[Third Party Instagram SVG.zip](https://github.com/Esri/calcite-web/files/1032735/Third.Party.Instagram.SVG.zip)

[2017-05-30 22:41] TifPun commented on #798
Hello, I wonder if there's an estimate on when the bug can be fixed? Or is there a workaround to get the text alignment working in IE? Currently this is affecting many places in our app (Operations Dashboard for ArcGIS). Thanks in advance!

[2017-05-30 22:53] paulcpederson commented on #798
@TifPun I'll try to get this into the next release. For now, it would be easy to add a workaround in your app. Just add the following CSS:

[code]

[2017-05-30 23:04] TifPun commented on #798
Thanks for the quick response and the workaround @paulcpederson! When is the next release going to happen?

[2017-05-30 23:05] paulcpederson commented on #798
Probably sometime in the next couple weeks

[2017-06-01 12:39] jasonhett opened #813 "Incorrect directory path for file loader-ie9.gif"
Paths for loader-ie9.gif try to resolve to '../img/img/loader-ie9.gif' but file is located at '../img/loader-ie9.gif'

![screen shot 2017-06-01 at 8 37 35 am](https://cloud.githubusercontent.com/assets/6620345/26680019/9fe43bd4-46a5-11e7-881d-7badb650b112.png)

[2017-06-01 15:19] paulcpederson commented on #813
I'm tempted to drop this as I think platform-wide we are moving to IE10/11+. I'll look into that and at the very least fix the image path. Thanks, @jasonhett

[2017-06-03 17:52] paulcpederson opened #814 "Fonts broken in Greek, Russian"
Looks like the updates to the font service removed certain characters in Greek and Russian:

<img width="1187" alt="screen shot 2017-06-03 at 10 43 53 am" src="https://cloud.githubusercontent.com/assets/1031758/26755780/c68a4a3a-4849-11e7-98bd-af1b2bbed777.png">
<img width="1182" alt="screen shot 2017-06-03 at 10 44 08 am" src="https://cloud.githubusercontent.com/assets/1031758/26755781/c6926e18-4

[2017-06-04 01:15] jonathantneal commented on #814
Yes, I think creating a second font specifying the unicode range is the right answer. Thank you for providing the unicode range. I’ll have to see how that could be translated to how Monotype/Typekit requires it.

[2017-06-07 14:24] jasonhett commented on #813
Sounds good to me. I'm not using the ie9 gif, webpack just complains when bundling.

[2017-06-07 16:05] paulcpederson opened #816 "Add examples for using event bus"
Right now it's just a list of events with no sample code. A couple quick examples would make it easier for people to understand how to utilize the event bus.

[2017-06-09 23:33] #798 closed

[2017-06-09 23:33] paulcpederson commented on #798
https://github.com/Esri/calcite-web/releases/tag/v1.0.0-rc.6

[2017-06-14 17:45] paulcpederson opened #818 "Minification incorrectly stripping one quote in font urls"
After minification, the `calcite-web.min.css` file has *only* a trailing quote for the font urls for Avenir Next:

[code]

This breaks for folks using the minified version.

[2017-06-19 20:11] hitdrumhard opened #819 "Avenir Next font requests cause CORS errors"
What is the correct way to request a copy of this font to install locally?

Also, for our actual deployment tiers, how do we resolve this?
Access to Font at 'https://api2.fonts.com/FontSubsetter.ashx?d44f19a684109620e484157aae90e8188…%A2%E2%82%AC%C2%9D&ot=false&projectId=2abe0dd7-8964-459a-9f40-70d8f5504a30' from origin 'http://etcdev.esri.com' has been blocked by CORS policy: No 'Access-Control-A

[2017-06-19 20:15] paulcpederson commented on #819
This has come up in several different environments. We recently moved to a new font service and now we're getting this CORS error in certain cases. One of two things is happening:

1. The domain whitelist works differently and doesn't accept wildcards (ie. `*.esri.com` no longer covers `etcdev.esri.com`
2. The way we've integrated the font service causes this error.

Either way we are looking into

[2017-06-20 17:16] phpmaps commented on #814
@paulcpederson seeing this too in another project which uses calcite-bootstrap.

The issue appears closely coupled with font-weight settings, specifically styles with Avenir Next and  font-weight settings of 100, 200, or 300.  When these font settings are used various characters like π and μ will show up looking abnormal.

aka.
[code]

Setting font-weight to 400 and above see to also work around t

[2017-06-20 17:33] paulcpederson commented on #814
@phpmaps Are you on a Mac? In that case, what's probably happening is that all Macs have several weights of Avenir Next installed, but they are missing the 300 weight. So on your machine 400 appears to be working because it's using the local file (which includes Cyrillic characters). I could be wrong, but that's what I would guess is happening.

[2017-06-20 17:50] phpmaps commented on #814
@paulcpederson - using both mac and windows.  Setting font-weight to 400 seems to mitigate the problem on each device.  If you have an OS that is problematic, let me know as I'd be interested to see how π and μ get rendered with this font-weight workaround.

[2017-06-20 17:51] paulcpederson commented on #814
@phpmaps that is super interesting. Looking into this a bit further and I think you may be right, I will investigate if this is related to the specific weight.

[2017-06-20 19:13] phpmaps commented on #814
@paulcpederson - it's not a silver bullet.  while FF looks better with this fix.  chrome now has a slight visual miss-match in font-weight when font-weight:400 is used.  Now considering detecting locale and swapping out to a different but similar font family.

[2017-06-20 19:16] paulcpederson commented on #814
@phpmaps thanks for investigating. I am thinking this is due to how we pull in the fonts from the new font provider. I think your backup plan will work until we can solve this at the framework level.

If this is for a product and not just marketing pages, our license allows self hosting of font files, so that is another option to try out. Send me an email if you want to go down that road.

[2017-06-20 20:10] phpmaps commented on #814
@paulcpederson @mitc7862  - thanks, do keep me in the loop.  Avenir Next also displays abnormal with some Vietnamese characters.  The Vietnamese issue I am not as familiar with, however I do know we dropped Anenir Next support for this language and would explore self hosting if we can get  patched font files.

[2017-06-20 20:22] paulcpederson commented on #814
Vietnamese is set to render in verdana, I think currently. If you set `lang="vi"` on the `html` tag, it will all render in Verdana.

[2017-06-20 20:44] jonathantneal opened #820 "Possible need for unsets"
When building new components, I might unexpectedly inherit a Calcite style I don’t immediately discover. Usually an extra margin on list elements or an underlines on links.

Would you have any guidance on when to overset or unset Calcite styles? Could there be something like an unset **mixin** to protect elements from accidental styles now or in the future?

As a possible aside, should hover not b

[2017-06-20 21:45] paulcpederson commented on #820
@jonathantneal an unset mixin is an interesting idea. So this would be something you can call that reverts all the styles?

1. I think you should be explicit with margin and padding on elements. We are unlikely to remove the padding or margin on lists as there are thousands of pages relying on that styling.
2. An unset mixin is an interesting idea, but wondering if it would be more work than it's

[2017-06-26 14:26] RalucaNicola opened #822 "Modal windows still allow the page to be scrolled"
For the [Web Style Symbols](https://developers.arcgis.com/javascript/latest/guide/esri-web-style-symbols/index.html) page we use calcite modal windows. Scrolling on top of the window, scrolls the page behind it:
![modal-window](https://user-images.githubusercontent.com/8091967/27544020-32faa22e-5a8c-11e7-92ff-c89bca568cb7.gif)

[2017-06-26 16:35] paulcpederson commented on #822
This is a duplicate of #766 I'm working on a fix for rc7

[2017-06-26 16:35] #822 closed

[2017-06-26 16:37] paulcpederson commented on #766
Putting screenshot from #822 here as it's a good visual description of the bug:

![modal-window](https://user-images.githubusercontent.com/8091967/27544020-32faa22e-5a8c-11e7-92ff-c89bca568cb7.gif)

[2017-06-26 21:52] bstifle opened #823 "Need Accessible Default Idle Background for Social Sharing Icons"
Current Background #b2b2b2 is not AA Large accessible for icons.

@paulcpederson
Please change to $transparent-off-black:  rgba(0, 0, 0, 0.45) !default;

Reference link http://esri.github.io/calcite-web/documentation/icons/

[2017-06-26 21:52] bstifle commented on #823
![sharing icons](https://user-images.githubusercontent.com/14083530/27561937-0ca55c34-5a7f-11e7-9cf0-252b9c3071d0.png)

[2017-06-26 22:00] paulcpederson commented on #823
:+1:

[2017-06-28 02:26] paulcpederson opened #824 "Use font-family: inherit for elements rather than declaring Avenir Next"
Right now we declare:

[code]

I think we should use:

[code]

This seems to work, and will make switching the face for Vietnamese much easier (https://github.com/Esri/calcite-web/blob/master/lib/sass/calcite-web/type/_i18n.scss).

[2017-06-30 15:40] jonathantneal commented on #819
Have you presented these issues to Monotype? We request the exact same URL they gave us. I only see these scenarios:

1. Their whitelisting is broken, as you mentioned.
2. They errantly require the CSS file making the request for the font files reside on their server.

Nothing else about our integration could have an effect that I know of.

[2017-06-30 15:41] jonathantneal commented on #818
^ any possible relation to https://github.com/Esri/calcite-web/issues/819 ?

[2017-06-30 15:57] jonathantneal opened #826 "Recommendation: Never declare fractional absolute lengths"
I recommend using whole numbers when declaring absolute lengths, like px, em, rem, (cm, etc.). Not all browsers round or alias fractional pixel lengths the same, and there is no spec guidance on the matter. Subpixel sizing is especially problematic for text sizes.

http://www.unumux.com/ux-insights/2016/2/24/subpixel-troubleshooting

Browser APIs inconsistently support returning floated numbers or

[2017-06-30 16:04] paulcpederson commented on #818
@jonathantneal that's what I thought, but after I fixed this in the release, we were still having folks report that error.

[2017-06-30 16:15] jonathantneal opened #827 "Missing figcaption"
At http://esri.github.io/calcite-web/examples/core/, I noticed the card examples use a `figure` element, but do not use a `figcaption` element even though the classname is `caption`. Is this on purpose?

[code]

Would you like a PR to change these to something like the following?

[code]

[2017-06-30 16:21] paulcpederson commented on #827
@jonathantneal not intentional, that would be a good change.

[2017-06-30 16:22] paulcpederson commented on #819
@jonathanan I agree, I think it's most likely the second option, so we should work with them to figure out if that's something we can fix.

[2017-06-30 16:56] paulcpederson commented on #826
I think for pixels we could probably do this. Most likely we'd develop some rounding mixin in Sass, esp for column widths (related: #742). We only really use pixels in a handful of places (mostly the grid), so it wouldn't be that much dev time to go through and iron these out. The grid is sort of difficult, though, because if you round down, columns inside might not fit anymore, so this might actu

[2017-06-30 16:58] jonathantneal commented on #826
Ah, I didn’t mean to say 1rem, 2rem, 3rem. I mean computed absolute values, so px.

[2017-06-30 16:59] paulcpederson commented on #826
I see, so it would just be a matter of looking at the computed styles and then figuring out which rem values produced even pixels?

[2017-06-30 17:01] jonathantneal commented on #826
Also, while the article might talk about older browsers, I think that just makes it easy to dismiss. These issues still exist in Edge and Safari. Subpixel aliasing is not exact science. It’s why I pulled `innerWidth` out of memory. One could also dismiss my arguments because fonts will still look different in different OS’s due to how they handle aliasing in general. I think the philosophy of stan

[2017-07-05 15:58] jonathantneal opened #828 "Proposal: Audio Player / Toolbar"
I’m working on an audio player, and I noticed there aren’t many small accessible audio players on the web. So, would this be something you’re at all interested in adding to Calcite?

**Source**:

https://github.com/jonathantneal/audio-player

**Demos**:

https://jonathantneal.github.io/audio-player/
https://jonathantneal.github.io/audio-player/rtl.html

[2017-07-05 17:52] julio8a opened #829 "IE/Edge Input Bug"
We're getting a bug in IE11/Edge

for some reason the background color is not changing. One of our devs was able to fix this, but he pointed it could be a CW issue, can you look into this?

dev fix cleared everything but the bg color. Therefore, there could be other CSS properties in CW causing issues?

dev fix:
https://jsfiddle.net/g90vu7z7/

issue screenshot:
![image](https://user-images.githubu

[2017-07-11 18:07] paulcpederson commented on #829
@julio8a I just briefly looked into this, and it seems like it's set up properly in calcite web to use the Sass variable `$white`, which is converted to black in the dark stylesheet. If you look at the generated CSS it's correct: https://github.com/Esri/calcite-web/blob/master/dist/css/calcite-web-dark.css#L4705 (sets input's background color to black) so I'm wondering if something else is going o

[2017-07-17 22:31] paulcpederson commented on #828
@jonathantneal is there a reason you didn't use the `<audio>` element for this?

[2017-07-17 22:42] jonathantneal commented on #828
@paulcpederson, hard to answer. I used the audio element for this. The source of the page, in the first example, is:

[code]

[2017-07-18 22:08] paulcpederson commented on #788
This is no longer an issue on iOS, must have been fixed in a recent version of Safari

[2017-07-18 22:08] #788 closed

[2017-07-18 23:29] paulcpederson commented on #794
I think we will be moving towards using the global nav for search + top nav, so I'm adding this to v1 and hopefully it will get taken care of when we move over.

[2017-07-18 23:39] julio8a commented on #829
Yeah, it's only on IE

it is CW, here is sample:
https://jsfiddle.net/g90vu7z7/

[2017-07-18 23:53] paulcpederson commented on #829
@julio8a found it. Fix will be part of the next release.

[2017-07-19 23:19] paulcpederson opened #835 "Deprecate classy in calcite-web.js"
Because browser support for Calcite Web is now IE11 +, we can safely use the classList API instead of our classy helper.

[2017-07-19 23:35] #783 closed

[2017-07-19 23:35] #784 closed

[2017-07-19 23:35] #802 closed

[2017-07-19 23:35] #804 closed

[2017-07-19 23:35] #808 closed

[2017-07-19 23:35] #812 closed

[2017-07-19 23:35] #813 closed

[2017-07-19 23:35] #814 closed

[2017-07-19 23:35] #816 closed

[2017-07-19 23:35] #818 closed

[2017-07-19 23:35] #819 closed

[2017-07-19 23:35] #823 closed

[2017-07-19 23:35] #824 closed

[2017-07-19 23:35] #827 closed

[2017-07-19 23:35] #829 closed

[2017-07-19 23:36] #766 closed

[2017-07-19 23:36] #773 closed

[2017-07-20 04:32] jonathantneal opened #836 "Deprecate IE8 Grid Fallbacks?"
I’m not sure what’s involved with this task, but there is some IE8 functionality in the grid system.

Are `$ie8-support` or `$column-gutter-fallback` still available? Are they needed or even recommended?

As seen at:
- http://esri.github.io/calcite-web/documentation/grid/#configuration
- https://github.com/Esri/calcite-web/blob/master/docs/source/documentation/grid/_configuration.md

[2017-07-20 17:04] paulcpederson commented on #836
@jonathantneal I'll have to look into this to see if it just needs to be removed from the docs, or if there are actual checks for that variable. I agree we should remove (deprecate) them.

[2017-07-20 21:53] julio8a opened #837 "Toggle UI"
I think it would be useful to have a toggle inside Calcite-Web (see screenshot below). We are looking to leverage this on Operations Dashboard. It's already being utilized in AGOL, we should add it to CW so that web apps can use it. It'll also increase the level of consistency between web apps and AGOL.

![image](https://user-images.githubusercontent.com/6144462/28440408-faf80416-6d5a-11e7-9b43-02

[2017-07-20 22:24] julio8a commented on #837
Maybe this falls under the same category?

# sliders
some examples from the web:
![cac8da1a-41f7-11e7-9698-8a2274913acc](https://user-images.githubusercontent.com/6144462/28441408-6f439ec6-6d5f-11e7-9620-c0253f1751b6.png)
![b85897ee-41f7-11e7-9a81-bacd67c77e0c](https://user-images.githubusercontent.com/6144462/28441407-6f3fc18e-6d5f-11e7-87ef-7c62c776a212.png)
![97ee7a14-41f7-11e7-8fe1-bde08d0ac4c

[2017-07-20 22:47] paulcpederson commented on #837
@julio8a I styled the range input in ArcGIS Online, and I could port that over as well:

<img width="516" alt="screen shot 2017-07-20 at 3 46 09 pm" src="https://user-images.githubusercontent.com/1031758/28442011-c8815aca-6d62-11e7-8136-22c7040015ff.png">

[2017-07-20 22:49] paulcpederson commented on #837
The range slider only allows for one input, though, so if you need multiple stop points that would have to be a custom element that would require javascript.

[2017-07-21 16:44] paulcpederson opened #838 "Style the "range" input"
from #837 , we should have styles that work for the range input. In ArcGIS Online looks like this:

![screen shot 2017-07-21 at 9 42 54 am](https://user-images.githubusercontent.com/1031758/28473379-203e2356-6df9-11e7-9331-a39a270f28cf.png)

Uses the following styles:

[code]

[2017-07-21 16:57] paulcpederson commented on #828
@jonathantneal ah, ok, so you're just replacing the audio player with custom markup via the AudioPlayer JavaScript?

[2017-07-21 16:58] jonathantneal commented on #828
Exactly. This way, you are writing what you mean, and even if the JS fails, there is a working Audio Element.

[2017-07-24 16:11] jonathantneal commented on #837
I was just working on something like this (for the original request, a checkbox as a switch): https://s.codepen.io/jonneal/debug/BZXadw#forms

I’m working on a container based version for Edge compatibility. For now, it can be demo’d in Chrome, Safari, Firefox, etc. (anybody but Edge/IE, sadly)

Thoughts?

[2017-07-24 16:58] jonathantneal opened #839 "arrow-down, arrow-left: not the same"
**down-arrow** is not an **arrow**. It is a **triangle**. There is no down-facing arrow. There _is_ a left-facing **triangle** called **left-triangle-arrow**.

Perhaps these naming conventions could be tidied up?

I recommend first keeping them consistent among themselves, and then possibly just calling them the one thing they are. A triangle is a triangle. An arrow is an arrow.

[2017-07-24 17:15] paulcpederson commented on #837
@jonathantneal the one I made for Online works in Edge (but there is an extra div).

HTML:

[code]

CSS:

[code]

[2017-07-24 17:41] jonathantneal commented on #837
Sweet! Do you have a convention you prefer when components require additional DOM?

[2017-07-24 17:45] paulcpederson commented on #837
No, not really.

[2017-07-24 17:45] paulcpederson commented on #837
@jonathantneal do you know of a convention? I'm all 👂

[2017-07-25 21:04] asangma commented on #839
Indeed. This something we need to work on with the icon team.
We can also consider aliases for backwards compatibility.

[2017-07-26 17:34] jonathantneal opened #840 "blue button border color should still match background color on hover"
Discussing with @bstifle, he mentioned the blue border should change the same dark blue color as the background when it is active/hovered.

[2017-07-26 17:36] paulcpederson commented on #840
Is that... an issue?

[2017-07-26 17:38] bstifle commented on #840
well, yes imo. :)

it starts with no visual border

and the hover state then shows a border.

inconsistent with other hover states throughout CW

[2017-07-26 17:47] paulcpederson commented on #840
@bstifle so desired behavior is for the border to change color as well?

[2017-07-26 18:05] bstifle commented on #840
that makes more sense

[2017-07-26 18:14] paulcpederson commented on #840
word up, 🏠 🍳

[2017-07-26 21:26] paulcpederson opened #841 "add copyright header to built files"
Need to add the copyright header to files in `dist/` as per Esri policy.

[code]

[2017-07-27 19:07] paulcpederson opened #842 "Select multiple shouldn't have background color"
Multiple selects currently get the white background color, but it's rendered incorrectly. Example:

| Current | Without background white |
| --- | --- |
| ![screen shot 2017-07-27 at 12 05 55 pm](https://user-images.githubusercontent.com/1031758/28687714-27962250-72c4-11e7-94b8-4b9904f4d83a.png) | ![screen shot 2017-07-27 at 12 06 12 pm](https://user-images.githubusercontent.com/1031758/28687713-2

[2017-08-03 12:25] jonathantneal opened #843 "How to deal with black not being black"
Very often, I’m working with designs that use **black** (`#000000`), which is darker than the darkest **black** in Calcite (`#323232`).

What strategy do you recommend we mortal developers follow to handle this?

Has anyone [paved a cowpath](https://en.wiktionary.org/wiki/pave_the_cowpath) for this **actual-black**, **true-black**, **dark-black**, **no-really-this-time-its-black** color?

May be r

[2017-08-03 16:58] paulcpederson commented on #843
@jonathantneal true black is not in the brand colors: https://github.com/Esri/calcite-colors/blob/master/scss/variables.scss

[2017-08-03 17:10] jonathantneal commented on #843
I suppose it’s too late to rename `black` to `brand-black`?

@bstifle, any insights?

[2017-08-03 17:13] bstifle commented on #843
i'd love for our colors to be more mindful. im pretty sure @kyle-03674 had a solve for this in the new color system

[2017-08-03 17:15] paulcpederson commented on #843
@jonathantneal you can also call it by its *true* name `$Calcite_Gray_700` if that strikes your fancy

[2017-08-03 17:28] jonathantneal commented on #843
@paulcpederson, it’s slightly less confusing, but it might help if I can associate it with meaning. What does the `700` mean?

I’m interested in learning what @kyle-03674’s solution was for this. That may be a suitable resolution.

It seems Calcite doesn’t otherwise have anything to do with true black (`#000000`), except when it’s [`$white`](https://github.com/Esri/calcite-web/blob/17e19cc7ad60a76

[2017-08-03 17:30] paulcpederson commented on #843
Yep, that's accurate. That is by design as far as I can tell. Calcite Web doesn't control these hex values, so there isn't much we can do about it here.

[2017-08-03 23:48] jgravois commented on #843
the answer is none. [none more black](https://www.youtube.com/watch?v=46kXH6GGtT0).

[2017-08-10 16:55] julio8a commented on #843
from Operations Dashboard perspective:

We use `$white` quite a bit on Dashboard. However, when we switch to dark theme all that white converts to black, which makes the Dashboard look like a high-contrast UI. There are some places where we leave the `black`, but in most elements, we override black on dark theme.  :(

[2017-08-11 22:36] paulcpederson commented on #762
updated codepen with more "calcite-web-y" class names: https://codepen.io/paulcp/pen/NvvbPg?editors=1100

[2017-08-14 23:52] tdolanwork opened #844 "Student icon"
For My Esri, we need a .icon-ui-student icon. What is the best way to go about requesting one?

[2017-08-17 22:28] kyle-03674 commented on #843
... I was out for a while and am still digging out from all the things I missed, so thanks for your patience @bstifle and others.

The intent of Calcite colors was to not use true black. In the case of the darkest Calcite gray `$Calcite_Gray_700` in default light theme it's value is #323232 but in dark theme it's #d1d1d1. Whereas white, otherwise known as `$Calcite_Gray_050` or #ffffff changes to

[2017-08-17 22:36] julio8a commented on #843
@kyle-03674 `#242424` would work great for us!

[2017-08-17 22:40] kyle-03674 commented on #843
@julio8a that color value is in [this PDF in the old "patterns" Box folder](https://esri.app.box.com/file/41893328194) but I'm not sure if it's in the variables? I think so. Either way, I believe you're just entering the hex value for Operations Dashboard?

[2017-08-17 22:45] julio8a commented on #843
@kyle-03674, Yes. We created a new variable called `$dashboard-dark: #222222`.  If we can get the variable `$white` from calcite web to display `#242424` on dark theme, that would be great. We can get rid of the new variable we created and just use default Calcite-Web.

Right now variable `$white` on light theme is `#ffffff` and `#000000` on dark theme.

[2017-08-17 22:57] kyle-03674 commented on #843
What is $Calcite_Gray_050 on light theme and dark theme right now?

[2017-08-18 16:57] bstifle commented on #843
@kyle-03674  so KK-00 is #000000?

We use true black (#000000) sparingly, but _we do use it_.

[2017-08-18 17:42] kyle-03674 commented on #843
@bstifle yes, in light theme KK-00 is `#000000` and in dark theme it's `#ffffff`

[2017-08-18 17:42] kyle-03674 commented on #843
that is, *will be* those values once they're adopted

[2017-08-21 19:26] paulcpederson commented on #844
@tdolanwork I would create a graphics request through creative lab and let them know it's for the calcite web set.

[2017-09-06 09:03] mvdbster opened #846 "Add btn-link class for buttons"
Sometimes **buttons** are more suited than `<a href="#">` links (_e.g._, items in dropdown menus). Empty `href` links seem like bad practice, mess with routing, show an ugly status at the bottom of the page when hovering, etc...

It would be good to have a `btn-link` class similar to Bootstrap so that buttons in dropdowns can be styled the same as hyperlinks. Same for headers (`top-nav`) etc...

A

[2017-09-06 16:23] tim-white-esri opened #847 "Use unitless line-height"
Currently line-height is being set to `$baseline` which starts out as `1.55rem`. The result is that the calculated value is `24.8px` (16px * 1.55rem). In some cases, font sizes are changed above that 24.8px size, resulting in text that overlaps when lines wrap.

Line-height should always be unitless. Suggest changing `$baseline` to 1.55 (or more appropriate number).

References:
* https://css-tric

[2017-09-06 16:47] paulcpederson commented on #847
I would tend to agree that line height should be unitless. We've used the `$baseline` var in other places as a way to add padding that sustains vertical rhythm, so we'd have to just go through and convert all those to rems again. Marking as bug, and assigning to next release.

[2017-09-06 16:57] paulcpederson commented on #846
@mvdbster yes I agree. I actually have that exact class in ArcGIS Online already. I'll look at doing two things:

1. port the `btn-link` class over so there is an easy way to style buttons to look like links
2. declare some additional properties on the dropdown and top nav links so they can handle buttons

In a previous release we removed the styling we had on native button elements, so that shoul

[2017-09-08 15:41] jmdye opened #848 "Additional modifiers for search pattern and input-search"
Please add some additional modifiers for search pattern and input search so that we can use more appropriate search patterns for the component where it is being placed (second and third nav for example)

**`.search-accordion`**
![search-accordion](https://user-images.githubusercontent.com/12836703/30219033-cfd12998-9488-11e7-9131-fc8c06bdd089.png)

**`.input-search .search-toggle`**
(Tailcoat top-

[2017-09-08 17:10] LarsFinley commented on #503
This seems to still be an issue

[2017-09-08 18:08] paulcpederson commented on #503
@LarsFinley can you be more specific? Where are you still seeing this behavior?

[2017-09-20 15:28] jmdye opened #849 "Misspelled presentaiton links in footer of doc site in gh-pages"
Caclite Web: A Primer
Caclute Web: Deep dive

[2017-09-20 17:02] paulcpederson commented on #849
@jmdye thanks! will fix

[2017-09-20 18:19] jmdye commented on #849
i misspelled my reporting of mispellings =(

[2017-09-20 18:19] paulcpederson commented on #849
@jmdye very meta 😂

[2017-09-20 20:29] tim-white-esri commented on #847
Would it be easier to leave `$baseline` as is, and just change the line-height calls? Maybe a new variable `$line-height`?

[2017-09-20 20:41] paulcpederson commented on #847
That could work. Or maybe `$baseline-ratio` or something

[2017-09-21 18:42] tim-white-esri commented on #847
A parallel conversation cropped up yesterday with Design -- there is a desire to move `font-size-1` and up to  `line-height: 1.25`

We should engage with them to determine all of the needs.

[2017-09-26 16:24] lheberlie opened #851 "Bad layout on high dpi at certain browser width"
This feedback was received from the Zurich JavaScript team at a training event recently hosted. While users were reading the ArcGIS API for JavaScript and the browser zoom (`Ctrl/Cmd + 1`) is activated on high dpi displays, the layout is bad around the breakpoint. Both navigation tabs and dropdown are visible, and the content is below the sidebar. I am not sure what browser or version was used.

d

[2017-10-02 20:51] HeathMeyette commented on #742
Assigning to Tim. @tim-white-esri please feel free to reassign to your team members that have additional bandwidth.

[2017-10-02 20:54] HeathMeyette commented on #805
Assigning to Tim. @tim-white-esri please feel free to reassign to your team members that have additional bandwidth.

[2017-10-02 20:57] HeathMeyette commented on #847
Assigning to Tim. @tim-white-esri please feel free to reassign to your team members that have additional bandwidth.

[2017-10-17 18:51] julio8a opened #852 "Table Tag"
The fact that calcite web is directly taking ownership of the tag ‘table’ is really painful. It messes up with third-party library.This is a breaking change that we should take before calcite web 1.0 is released. This is really going to hurt a lot of apps if we don’t fix it now.

[2017-10-17 20:48] paulcpederson commented on #852
@julio8a I would tend to agree. Thinking a class applied to the root table element would be a good in-between.

[2017-10-18 23:49] julio8a commented on #852
The issue we're having is that table tag name and all children should not be modified by calcite.
If we want the table to be ‘calcite’, then we want to add a class like this:
```<table class='table table-blue'></table>```

[2017-10-18 23:52] paulcpederson commented on #852
Yep. That's what my comment was going for, sorry if I was unclear. I feel your pain on this issue, it cause a whole bunch of problems when styling dojo widgets as well (they use table layouts everywhere).

[2017-10-19 15:28] julio8a commented on #852
What would be the timeline for this change to take place in CW?

[2017-10-19 16:47] paulcpederson commented on #852
I'm pretty maxed out right now, but maybe @tim-white-esri could devote some cycles from his team on this? It's a pretty straight forward change, just needs to be documented.

[2017-10-27 16:33] TheBlueDog opened #853 "Default btn and form field sizing inconsistent"
Upon close inspection it seems that the default form input fields vary between 38-39px height. The default button height is is 39px. Can we make these consistent?

[2017-10-27 18:28] paulcpederson commented on #853
Can you give more examples of which are too big?

[2017-10-27 18:35] TheBlueDog commented on #853
![screen_shot_2017-10-27_at_2_29_24_pm](https://user-images.githubusercontent.com/5419306/32119637-dccb3dd4-bb23-11e7-9c58-85f5e8c02cd4.png)

![screen_shot_2017-10-27_at_2_31_34_pm](https://user-images.githubusercontent.com/5419306/32119639-de3ee3aa-bb23-11e7-97e6-afff0f32c17f.png)

Also, the difference between the small and default buttons is not enough. We are using 36px and 39px. Bootstrap has

[2017-10-27 18:39] paulcpederson commented on #853
agree re:small buttons we can shrink those more.

The inputs have the exact same padding. Their not different, it's probably just a rounding issue. WE can move to use even pixels for padding on these
![screen shot 2017-10-27 at 11 38 20 am](https://user-images.githubusercontent.com/1031758/32119880-723effd6-bb0b-11e7-9e5e-a2ccca0b377d.png)
![screen shot 2017-10-27 at 11 38 27 am](https://user-imag

[2017-10-27 18:51] TheBlueDog commented on #853
The goal would be that a default button and default inputs could be placed side by side and the heights match exactly.

[2017-10-27 18:52] paulcpederson commented on #853
@TheBlueDog can you send a screenshot where that's not the case?

[2017-10-27 18:53] TheBlueDog commented on #853
I built Sketch symbols for prototyping based on the day pages. This is where I noticed the difference. I don't have it in code yet.

[2017-10-27 18:57] paulcpederson commented on #853
I think it won't happen in code. The rounding error comes when they fall in the middle of a pixel, chrome rounds down, or up depending on which is closest. But if they are inline with each other they will be rounded the same way, so shouldn't be an issue.

When you code it, let me know if you see the problem and we can patch the button padding to be more explicit.

[2017-11-02 23:09] jmdye opened #854 "btn-clear should be...clear"
```.btn-clear``` sets a white background which is not the intent when its being used on a panel of any color other than ```.panel-white``` or any other colored element for that matter.
![screen shot 2017-11-02 at 7 05 27 pm](https://user-images.githubusercontent.com/12836703/32354645-fcbc0e98-c000-11e7-86a7-91d05d94d4d2.png)

Shouldn't the background property for ```.btn-clear``` be ```background:

[2017-11-02 23:13] paulcpederson commented on #854
They are white background because if you drop them on an off-white page they no longer pass WCAG 2.0 AA accessibility standards. It was changed to white background as part of this issue: https://github.com/Esri/calcite-web/issues/649.

Sorry for the confusion, @jmdye and thanks for the feedback!

[2017-11-02 23:13] #854 closed

[2017-11-03 13:32] jmdye commented on #854
![image](https://user-images.githubusercontent.com/12836703/32375993-d6194476-c079-11e7-9136-de86328bfd95.png)

[2017-11-03 21:22] paulcpederson commented on #852
I think this would be a good change. It's a breaking change, but I think it's the right call.

[2017-11-03 21:28] bradleywertman opened #855 "Default link color failing WCAG2.0 AA contrast requirement on #f8f8f8 backgrounds"
After doing some initial accessibility testing on our sites using Calcite, we are noticing the default link color (#0079c1) does not have a high enough contrast ratio on elements with the background color of #f8f8f8. This looks to be mainly affecting the footers and the default panel color.

[For WCAG2.0 AA](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html), the requi

[2017-11-03 21:32] paulcpederson commented on #855
Yeah, a couple solutions come to mind:

1. Make the blue slightly darker
2. create a `link-dark-blue` modifier class which is meant specifically to sit on top of `$offwhite`

[2017-11-03 21:34] paulcpederson commented on #855
Kind of related to #649 which was the same problem solved in a different way

[2017-11-03 21:39] paulcpederson commented on #848
There should only be one search pattern, and that is the search take over.
![screen shot 2017-11-03 at 2 38 38 pm](https://user-images.githubusercontent.com/1031758/32396958-bb289d80-c0a4-11e7-823f-44e54d03e52f.png)

I don't think this will work in any other contexts. That being said, is this issue still relevant?

[2017-11-03 21:42] paulcpederson commented on #844
I'm closing this, feel free to reopen when we have an icon to add, though.

[2017-11-03 21:42] #844 closed

[2017-11-03 21:44] paulcpederson commented on #843
I'm going to close this, and we can address black when the new system is adopted and we update everything to use it.

[2017-11-03 21:44] #843 closed

[2017-11-03 21:51] paulcpederson commented on #836
@tim-white-esri if somebody on your team is in editing the grid code, this might be a good bit of cleanup as well.

[2017-11-03 21:52] paulcpederson commented on #828
After discussions it seems like an Audio or Video player fall outside the responsibility of Calcite Web. Should be its own shared component with single responsibility.

[2017-11-03 21:52] #828 closed

[2017-11-03 21:59] paulcpederson commented on #762
This could potentially be part of the "calcite-apps" set instead of core.

☝️ @julio8a

[2017-11-03 22:01] paulcpederson commented on #837
This could potentially be part of the "calcite-apps" set instead of core.

☝️ @julio8a

[2017-11-03 22:43] #849 closed

[2017-11-03 22:43] paulcpederson commented on #849
pushed fix to doc site, thanks again @jmdye

[2017-11-03 23:10] jmdye commented on #837
Certainly the range slider would be more appropriate in "calcite-apps", the toggle could be useful for Yes/No or True/False answers on a form

[2017-11-03 23:14] jmdye commented on #848
I can't say I agree with the idea of one search pattern to rule them all, but no one else has indicated a need for multiple.

[2017-11-08 18:45] jgrayson-apl commented on #852
I agree this would really help when using with the Esri JS API as I currently have several workarounds via JS to add the 'table-no-table' class to various use cases when esri js/dojo create tables on the fly (popups, legends, charts, etc).  This workaround helps some, but doesn't solve everything.  Also, <table> is not the only tag where this happens...

[2017-11-08 18:45] jgrayson-apl commented on #852
I agree this would really help when using with the Esri JS API as I currently have several workarounds via JS to add the 'table-no-table' class to various use cases when esri js/dojo create tables on the fly (popups, legends, charts, etc).  This workaround helps some, but doesn't solve everything.  Also, <table> is not the only tag where this happens...

[2017-11-08 18:55] paulcpederson commented on #852
Yeah other styles are default typography (`p`, `li`, `blockquote`, `h1...6`, `code`).

[2017-11-08 18:58] jgrayson-apl commented on #852
yep... 'label' is one that always causes issues, but dealing the 'table' will help a lot, so thank you.

[2017-11-12 06:00] hhkaos commented on #633
Sorry @calvinkwon , PR means "Pull Requests"

[2017-11-15 19:18] julio8a opened #857 "Latest Chrome Bug"
In the latest update of chrome buttons have rounded corners. We need to specify the border radius in calcite web so that chrome's default does not change our UI.

![image](https://user-images.githubusercontent.com/6144462/32855441-7b225bc6-c9f6-11e7-895b-13531d3d082a.png)

![image](https://user-images.githubusercontent.com/6144462/32855446-7f861fc2-c9f6-11e7-9c27-eca72368be96.png)

We need this fi

[2017-11-15 19:19] paulcpederson commented on #857
@julio8a I already fixed that in the most recent release a couple weeks ago https://github.com/Esri/calcite-web/releases/tag/v1.0.0-rc.8

[2017-11-15 19:19] #857 closed

[2017-11-22 21:12] jgrayson-apl commented on #838
Is this going to be done via a new class or is calcite taking over all input[type="range"] elements?

[2017-11-22 22:15] tim-white-esri commented on #852
@paulcpederson Do you have this handled?

[2017-11-23 00:35] paulcpederson commented on #852
@tim-white-esri there is an open pr (https://github.com/Esri/calcite-web/pull/858) which I think just needs a little doc, but other than that should be good to go.

[2017-11-23 00:38] paulcpederson commented on #838
@jgrayson-apl the primary issue to fix is that currently, the range styles are broken, so this will be applied to `input[type="range"]`. We could create a class, though, very open to that.

[2017-11-27 16:51] julio8a opened #860 "Font Weights"
Issue submitted by Dashboard dev (Fred)

The style for **or is defined as:**

[code]

in faces.scss

This whole font-weight 500 is not working. It doesn't create enough difference for most people:
With strong:
![image](https://user-images.githubusercontent.com/6144462/33278296-f299a24c-d34f-11e7-8faa-6aaa46cdc8ed.png)

Without strong:
![image](https://user-images.githubusercontent.com/6144462/3327

[2017-11-27 20:01] paulcpederson commented on #860
The decision to use `demi-bold` instead of `bold` was made when we did the first designs using Avenir Next. At the time the regular body font was `300`, so `300` to `500` represented sufficient contrast (and a true `700` bold seemed way too much).

When we changed the body styles a while back, we changed the weight to `400` abd we didn't update the bold weight. I agree it's not enough, now (especi

[2017-11-28 18:30] julio8a opened #861 "Radio buttons on iPad"
Is this a Calcite Web issues? Dashboard devs are mentioning it is.

The radio buttons should look like radio buttons on iPad not checkboxes.
![image](https://user-images.githubusercontent.com/6144462/33337181-07bcc9ec-d427-11e7-860b-a61cdd237393.png)

[2017-11-28 18:33] paulcpederson commented on #861
@julio8a yeah, that's a bug in calcite web, I just confirmed. Will look into this.

[2017-11-29 17:22] jgrayson-apl commented on #838
@paulcpederson Thank you for the clarification.  I've been thinking about this and I'm not sure we need a class as most 'slider' widgets I've seen implement their own UX and don't necessarily reuse an input[type="range"] so conflicts with other widgets seems unlikely (compared to other elements such as tables and labels).  Classes that abstract the browser specific details of the internal componen

[2017-12-01 20:23] jgrayson-apl opened #862 "Incorrect doc for modal:open"
When trying to open a modal via JS, doc says to pass in {id:"modalId"}:

modal:open | Opens a specific modal | {id: modalId } | openModal()

...but that throws an error.  In order to get it to work correctly I have to only pass in just the modal id:

calcite.bus.emit("modal:open", "my-modal-id");

[2017-12-01 21:55] paulcpederson commented on #862
@jgrayson-apl this must be documented incorrectly, will fix.

[2017-12-01 22:03] paulcpederson opened #863 "Change implementation of drawer pattern"
Having the drawer push the wrapper over creates several problems (on mobile safari, and in preventing the use of `position: sticky` elsewhere on the page.

Should change so that the drawer slides _over_ the wrapper. Make the following changes:

1. remove transitions on wrapper
2. remove `overflow: hidden` declaration on wrapper
3. when drawer opens, add `overflow: hidden` to `html` element (this p

[2017-12-06 17:35] julio8a opened #864 "Dark theme switch"
Currently, there is no way of seeing what dark theme on the documentation page. https://esri.github.io/calcite-web/

Therefore, we need a switch for dark theme.

[2017-12-06 18:35] jmdye commented on #864
+1

[2017-12-07 01:49] jgrayson-apl commented on #838
Will we have different styling when using the dark theme?

![image](https://user-images.githubusercontent.com/5324720/33694579-baf47c3a-daad-11e7-874d-747f83e5d5a5.png)

[2017-12-07 03:58] paulcpederson commented on #838
@jgrayson-apl yeah for the actual implementation these will use the color Sass variables, which automatically invert for the [dark theme](https://github.com/Esri/calcite-web/blob/master/lib/sass/calcite-web-dark.scss).

[2017-12-19 23:33] julio8a opened #865 "Avenir Next – Vietnamese"
from paul:

Replace current Vietnamese solution with SST.

cc'ing: @TheBlueDog, @kyle-03674

[2017-12-20 02:28] TheBlueDog commented on #865
Is SST delivered through the same font service?

[2017-12-20 17:39] paulcpederson commented on #865
@TheBlueDog yes, I believe so.

[2017-12-21 03:33] TheBlueDog commented on #865
@paulcpederson Are the keys and calls for that in Calcite Web files?

[2017-12-21 05:17] kyle-03674 commented on #865
SST Vietnamese is available on fonts.com<https://urldefense.proofpoint.com/v2/url?u=http-3A__fonts.com&d=DwIGaQ&c=n6-cguzQvX_tUIrZOS_4Og&r=BH1IbQAyP2ZYjN-1CD6Lg4RUKlXi4LAplBganHxtnjh1tbdo3N9JUqJpWnrdpkaaKw_Hkt8xnjckwHWh3hbh4CQcGJIGRPyWRssr4EAlkVztP2q6nG8Zduk2e-PBfM3E-5HcBzQ68QBCNB_6IGjU0A&m=SSPF7kCt0X7gSkB28joqXvRuw8ANbrLVHRmNkY6pLOY&s=Kuc-ROhFXJN8RnoJn2Dx8H88dwmReZV-5cSo1mkfCv0&e=>, yes. @paulcpe

[2017-12-22 17:42] mjuniper commented on #860
Any eta on getting this addressed? It is affecting Hub too.

[2017-12-22 21:14] paulcpederson commented on #860
I probably won't have time to handle this until the new year...

[2018-01-04 16:45] odoe opened #866 "Some leaky styles when used with ArcGIS API 4 for JavaScript"
I'm working on an app using the ArcGIS API 4 for JavaScript. This is going to be an example app for users.

This impacts some of the dropdowns we have in Search and the Directions widget. It looks like some `li` styles add margins that impact the widgets, and the `h3` makes some of the text really big.

Directions with Calcite
![screen shot 2018-01-04 at 8 28 10 am](https://user-images.githubuserc

[2018-01-04 17:26] paulcpederson commented on #866
@odoe no, you're not missing anything. The `li` styles come straight from the [typographic defaults](http://esri.github.io/calcite-web/documentation/type/#defaults). This is something that has come up before (#852 , #820 , #768) .

The question at its core is how much does Calcite Web style by default, and how much only happens if you add a class? Previously we provided basic typographic styles fo

[2018-01-04 18:47] asangma commented on #866
Cool.  I think we could define font-size for the Hs.
@driskull @jcfranco Do you think this should just be done on widgets that are `esri-component`s, i.e. that are on map?  Or across the board, i.e. an H inside `esri-widget`?

[2018-01-04 18:53] driskull commented on #866
Seems to me like it should be done on a per widget bases. If a widget defines an H3, it should set it's height. I'm assuming that widgets will not all have the same h3 size.

[2018-01-18 22:04] #848 closed

[2018-01-18 22:04] #853 closed

[2018-01-18 22:07] paulcpederson commented on #699
Closing this as Calcite Web is going to move away from the icon font, integrating the svg icons from the icon team directly from their repository: http://clidev.esri.com/calcite/arcgis-apps-icons/

[2018-01-18 22:07] #699 closed

[2018-01-19 23:43] macandcheese commented on #842
Unable to reproduce on my end... Is there any specific browser / OS this affects?

[2018-01-19 23:49] paulcpederson commented on #842
@macandcheese I think chrome must have fixed this in a patch at some point. Seems good now.

[2018-01-19 23:49] #842 closed

[2018-01-20 00:39] paulcpederson commented on #840
Will be part of next release, nice work @macandcheese

[2018-01-20 00:39] #840 closed

[2018-01-22 21:01] macandcheese opened #869 "Improve handling of class modifiers in documentation"
It would be nice to have a base / modifier paradigm for docs instead of needing to "fake" the base as a modifier with "modifiers: true". Would need to create some logic to display the base example as well as any available modifiers.

[2018-01-22 21:02] paulcpederson commented on #869
@macandcheese I think this is a good idea. `modifiers: true` has always felt like a hack.

[2018-01-22 23:02] macandcheese opened #870 "Create index / status sheet of components"
It would be nice to have a quick "at a glance" overview of components available in Calcite, along with implementation status / any other relevant metrics or labels. It should help to more quickly communicate what is available and what's being worked on in Calcite.

Example from vmware's Clarity Design System: https://vmware.github.io/clarity/documentation

[2018-01-22 23:50] asangma commented on #870
@macandcheese First off. #bestusername

Secondly, that is all.

[2018-01-22 23:52] paulcpederson commented on #870
@macandcheese 👌

Maybe this could be merged with http://esri.github.io/calcite-web/quick-reference/ ?

[2018-01-23 18:17] jimmieego commented on #793
I came across a talk by Marcy Sutton yesterday (https://vimeo.com/251520898) in which she mentioned the `inert` attribute for modals. It's not in HTML spec yet but here is the [description](https://github.com/WICG/inert) and a [polyfill](https://github.com/GoogleChrome/inert-polyfill).

[2018-01-23 18:42] paulcpederson commented on #793
@jimmieego that is a really nice solution to this problem.

[2018-01-23 22:47] macandcheese commented on #870
Yep, I think that makes sense to merge with the quick reference sheet in someway.

[2018-01-31 18:31] macandcheese commented on #870
Added in https://github.com/Esri/calcite-web/pull/871

[2018-01-31 18:31] #870 closed

[2018-01-31 20:53] macandcheese commented on #745
I think this may still be happening, see: http://esri.github.io/calcite-web/examples/core/
The "view html" area content is centered on some screens, left aligned on very large screens. @paulcpederson Is this a case of not having the correct classes assigned?

[2018-01-31 20:55] jmdye commented on #757
You could forgo the dropdowns and use the drawer as well. I tend to use the dropdowns like Paul suggested though.
![screen shot 2018-01-31 at 3 51 34 pm](https://user-images.githubusercontent.com/12836703/35647003-30275636-069f-11e8-912a-5485a466d95c.png)

[2018-01-31 21:31] macandcheese commented on #869
Added in https://github.com/Esri/calcite-web/pull/872

[2018-01-31 21:31] #869 closed

[2018-02-01 18:55] macandcheese commented on #744
@isaacviel, can you verify that you are still encountering this on your end? I've looked in IE / Edge and the Placeholder text is slightly lighter than the inputted text.

I think the thin font weight exacerbates it. I'd be hesitant to make the placeholder text any lighter, but some options to improve are: moving from $off-black to $black for inputted text, or bumping the font-weight of input fiel

[2018-02-04 14:18] jmdye opened #874 "Add static files for dark theme"
Kind of related to #864. there is no way (that I know of) to access the dark theme if you are just using static files.

On the Color/index.html in Docs, there is a section that indicates the dark theme can be accessed by using ```@import "calcite-web-dark";```. I tried putting that in the console in Chrome - no dice. Also tried adding it to ```all.css``` in Chrome's sources window, but still no lu

[2018-02-05 18:16] paulcpederson commented on #874
related to #864

[2018-02-09 18:11] #744 closed

[2018-02-09 18:56] macandcheese opened #876 "Add range slider js functionality"
Moving more advanced js functionality to a separate task to limit the scope of https://github.com/Esri/calcite-web/issues/838.

To include:
- displaying ticks / datalist
- displaying value tooltip
- associating input with range value

[2018-02-09 18:57] paulcpederson commented on #876
:+1:

[2018-02-13 22:29] gisdev-km commented on #841
Can we also get a summarized license header attached to the minified js and css files distributed by CDN?

Example of summarized header from material-lite: https://code.getmdl.io/1.3.0/material.min.js

[2018-02-14 00:26] tim-white-esri opened #877 "Overuse of !important"
A quick search of the repo shows that `!important` is used 2,306 times in 20 files. This is not a good practice and presents many challenges when using the framework. We just recently had to increase specificity and add `!important` to a style just to get it to work properly in our instance -- all to override the framework.

[2018-02-14 00:35] paulcpederson commented on #877
@tim-white-esri I agree, and I try not to use these unless totally necessary. If you filter by file type scss you can see that in the actual source (`lib`) it only occurs 7 times, so it's not really as hard as fixing it in 2300 places. We can take a look at all of these and make sure they are needed.

Which in particular gave you trouble?

[2018-02-14 00:42] macandcheese commented on #841
👍 Can do.

@julio8a - any insight into what text we should use here?

[2018-02-14 00:46] julio8a commented on #841
We can base it off that standard material has:
[code]

@paulcpederson, anything to add, change or modify?

[2018-02-14 00:51] paulcpederson commented on #805
I think we can get around this by scoping all pre and post (even in left to right) to a `dir`. Example:

[code]

This will add selectors, but will eliminate the bug.

[2018-02-14 00:52] paulcpederson commented on #877
related to the right to left `!important` rules needed to override styles: https://github.com/Esri/calcite-web/issues/805#issuecomment-365457842

[2018-02-14 00:54] paulcpederson commented on #841
Looks good to me. Not sure of the description text, though. Title would probably be sufficient.

[2018-02-14 18:43] tim-white-esri commented on #877
@paulcpederson Digging into the issue, part of it is on our end. But looking over the Sass in Calcite, there are still some 20 instances. Looks like a lot are the RTL you've addressed, but there are several others that I don't see why they are there; for example,
`.center-column {
    margin-left: auto !important; // !important needed to override first column margin (line 34)
    margin-right: aut

[2018-02-14 19:23] paulcpederson commented on #877
@tim-white-esri half of those are in the `dist` folder, so it's not 20.

I agree about the SVG. As I said, we can dig into these and look at them on a case by case basis.

[2018-02-14 19:31] tim-white-esri commented on #877
@paulcpederson sounds good. I'll leave it to you.

[2018-02-14 20:15] macandcheese commented on #864
A few options for the switch, located the header for visibility... On mobile it will live in the sidebar menu. Basically a single clickable toggle vs. explicit options per theme. Thoughts on a direction?

![options](https://user-images.githubusercontent.com/4733155/36225749-8cdec224-1180-11e8-9aa6-7bbf1370962b.png)

[2018-02-14 20:23] rralbritton opened #878 "Direct links to CDN result in Error"
When using the CDN references the webpage fails to open and produces a 'net::ERR_CONTENT_DECODING_FAILED' error.

Issues was tested using the [Quick Start Script](http://esri.github.io/calcite-web/guides/quickstart/) after failing to load my code - same issue resulted.

The links works individually, but a call is being made to
[fast.fonts.net](https://fast.fonts.net/t/1.css?apiType=css&projectid=9

[2018-02-14 20:45] jmdye commented on #864
Both look great! I would find the toggle just slightly more intuitive if it were implemented like the Toggle   UI element proposed in #837 . Otherwise, I'd go with the explicit options.

[2018-02-14 23:43] paulcpederson commented on #878
@rralbritton what domain are you using? You must be on a domain that is whitelisted to use the fonts as per our licensing agreement with monotype.

If you're developing locally, you should add an entry to your hosts file (`private/etc/hosts` on mac) for something like:

[code]

That way you can develop your local site by visiting local.arcgis.com in your browser.

[2018-02-15 16:30] rralbritton commented on #878
Thanks @paulcpederson . I am developing local in a windows environment. I haven't run into this issue with other ESRI/Calcite  packages in the past.

[2018-02-15 17:15] julio8a commented on #864
I like the idea of the toggle UI.

We can do something like: `Dark Theme **Toggle**`

[2018-02-15 18:19] macandcheese commented on #864
Yeah, I tend to agree that a toggle makes the most sense. Will need to finish https://github.com/Esri/calcite-web/issues/837 first ;)

[2018-02-15 19:59] jmdye commented on #864
Can you guys still push forward on #874 separately? I'm eager to get my hands on static dark.css file and I'm just a simpleton.

[2018-02-16 00:20] paulcpederson commented on #860
FYI this is part of a larger font overhaul we are looking to complete as part of V1 (end of February estimate)

[2018-02-27 22:17] macandcheese commented on #862
Taking a look... **openModal** uses the `data-modal` attribute -  the **modalId** value in the function is set based on that value when the modal toggle is clicked.

@jgrayson-apl In the future we can better document what data attributes are needed to achieve functionality like this. Closing for now but happy to update if you have any specific changes.

[2018-02-27 22:25] jgrayson-apl commented on #862
Adam, this is a documentation bug related to calling calcite.bus.emit(...).  All I'm asking is for is a simple update to the documentation so others don't go through the same pains. http://esri.github.io/calcite-web/documentation/javascript/

[2018-02-28 21:03] macandcheese commented on #862
There's inconsistent syntax being used which makes the docs accurate for some components, but incorrect for others. I'd prefer to update the modal functionality to match that of docs / drawer component rather than document the inconsistency. Hopefully this will make it into v1.0. Thanks for the catch @jgrayson-apl

[2018-03-07 16:53] jmdye opened #882 "npm minifier package is deprecated"
Probably want to move off of this package and onto something that is supported.

Also, if possible a package that doesn't use a license which uses profanity would be appreciated. I personally don't care but the organization I work for is pretty conservative and I can anticipate someone getting their knickers in a knot over that.

[2018-03-07 17:41] #862 closed

[2018-03-07 19:11] paulcpederson commented on #851
I just looked into this and fixing will be extremely difficult. Essentially the problem is that in media queries, once you are zoomed in, the browser handles the math differently. We use `max-width: $breakpoint - 1` for some of our media queries and when zoomed in, there is a small number of pixels that actually fall inside that pixel because the 1px is now larger due to being zoomed in. To fix th

[2018-03-08 10:24] sreinhard commented on #851
@paulcpederson thanks for looking into this. I see that this is hard to fix properly.

The reason I'm running into this regularly, is that the critical pixel width happens to be exactly half the width of my screen, and I often dock the browser with the windows key + arrow keys.

Would it be possible to move the breakpoint by a few pixels to make this edge case less likely to be hit in practice?

M

[2018-03-08 17:37] paulcpederson commented on #841
@macandcheese I have this pretty much set up locally, will add to the next pr

[2018-03-08 18:42] macandcheese commented on #876
Since there's no true Chrome support for progress through CSS, will need to add in here as well.

[2018-03-08 21:13] paulcpederson commented on #855
Next release will have a `link-dark-blue` class for a slightly darker link color (WCAG AA valid). Also adding a note about this in the documentation.

[2018-03-08 21:13] #855 closed

[2018-03-08 21:14] paulcpederson commented on #860
The new font implementation fixes this problem. In the next release bold weights should render properly with sufficient contrast.

[2018-03-08 21:14] #860 closed

[2018-03-08 21:15] paulcpederson commented on #846
Added a `btn-link` class, and also make dropdown links and top nav links work with button elements out of the box. Will be part of next release.

[2018-03-08 21:15] #846 closed

[2018-03-08 21:16] paulcpederson commented on #865
Next release will use SST for Vietnamese.

[2018-03-08 21:16] #865 closed

[2018-03-08 22:45] macandcheese commented on #862
Modal syntax should match that of the drawer component / what's in the docs now: https://github.com/Esri/calcite-web/pull/884/

[2018-03-08 22:52] macandcheese commented on #874
Combining with https://github.com/Esri/calcite-web/issues/864 🌱

[2018-03-08 22:52] #874 closed

[2018-03-08 22:54] #841 closed

[2018-03-08 23:03] macandcheese commented on #839
Doing some issue pruning... @julio8a thoughts on deprecating the icons in CW and enforcing use of https://github.com/ArcGIS/calcite-ui-icons ? There seems to be some overlap between the two sets and it'd be nice to consolidate and use one.

[2018-03-09 00:20] julio8a commented on #839
@macandcheese, All the icons from CW are in the calcite-ui-icons repository. I talked with @paulcpederson yesterday and we discussed adding a deprecation message for the icons in CW.

deprecation message we used in arcgis-apps-icons:
[code]

[2018-03-09 17:41] paulcpederson commented on #882
This will be fixed in the next release

[2018-03-09 17:41] #882 closed

[2018-03-09 17:42] paulcpederson commented on #877
This will be fixed in the next release. Was able to axe a majority of them

[2018-03-09 17:42] #877 closed

[2018-03-09 17:42] paulcpederson commented on #805
Will be fixed in the next release

[2018-03-09 17:42] #805 closed

[2018-03-09 21:05] paulcpederson commented on #878
This issue should be fixed in the next release

[2018-03-09 21:05] #878 closed

[2018-03-09 23:30] paulcpederson commented on #863
will be part of next release

[2018-03-09 23:30] #863 closed

[2018-03-09 23:30] paulcpederson commented on #793
will be fixed in next release.

[2018-03-09 23:30] #793 closed

[2018-03-10 00:23] asangma commented on #863
![bitmoji](https://render.bitstrips.com/v2/cpanel/1ca6d440-f6ad-4d5d-8044-a86d9a7650c4-cc9a7e17-6cdb-4dbb-94c1-3db902a46cb1-v1.png?transparent=1&palette=1&width=246)

[2018-03-12 16:42] macandcheese opened #886 "Style file upload input in Firefox"
Add brower-specific styling for FF, see below:

![button upload firefox](https://user-images.githubusercontent.com/4733155/37296964-b4a99d20-25d9-11e8-89e1-f2906388b51e.png)

(Chrome / Safari / FF)

[2018-03-12 17:23] paulcpederson commented on #886
I'm not sure that firefox gives a pseudo class for styling the file input, IIRC

[2018-03-12 18:06] tim-white-esri commented on #877
Glad to hear it.

[2018-03-12 18:19] macandcheese commented on #886
Yeah, there's no way to change the button unfortunately. Small improvements https://github.com/Esri/calcite-web/pull/887

[2018-03-12 18:19] #886 closed

[2018-03-13 16:43] patrickarlt opened #888 "Automatically wrap long <code> blocks in scrollbar"
We ran into a bunch of issues on the developers site were users had created pages with REALLY long strings like URLs wrapped inside `<code>` blocks that were breaking out of their containers. Since there are dozens off these scattered across docs with different authors I took it upon myself to find a universal CSS based solution.

Basically `<code>` elements will grow until they reach the width of

[2018-03-13 16:45] patrickarlt commented on #866
@odoe @paulcpederson we have been maintaining a compatibility stylesheet on the developers site that should cover some of this stuff. Maybe that should be added to Calcite Web for use with the JS API?

[2018-03-13 16:52] patrickarlt opened #889 "Consider reducing default font size to 15px/16px"
Since launching the REST API docs on the developers site I have gotten numerous bits of feedback about how long the pages are. Mostly this relates to the lack of decent skip links in the REST API pages but JavaScript pages are also pointed to as being excessively long. Most people tend to point to font size as an issue here. For example:

Page | Height (17px) | Height (16px) | Height (14px)
--- |

[2018-03-13 17:24] paulcpederson commented on #889
I'd be fine with 16, 15 is too small, though. Several auditing tools actually dock you points if you go below 16px (https://github.com/GoogleChrome/lighthouse/issues/3174).

[2018-03-13 18:10] patrickarlt commented on #889
@paulcpederson huh ill have to read those later. 16px it is then! This is probably good to do now before 1.0.0 since it might be a breaking change for some.

[2018-03-13 18:11] paulcpederson commented on #889
Yeah this is going to pretty thoroughly break everything as everything is sized off that value. So all the buttons will be smaller, all leader/trailer values will be different, etc

[2018-03-13 19:44] macandcheese commented on #861
Fixed in https://github.com/Esri/calcite-web/pull/890, made checked styling on iOS a bit more blatant as well.

[2018-03-13 19:44] #861 closed

[2018-03-13 22:14] macandcheese commented on #838
PR @ https://github.com/Esri/calcite-web/pull/891

[2018-03-13 22:14] #838 closed

[2018-03-15 21:15] macandcheese commented on #888
I think this is a good addition, will take a look at adding this in shortly.

[2018-03-20 16:09] patrickarlt commented on #889
@paulcpederson when I was testing this on the Developers site it actually didn't break anything. Some exact pixel measurements might be off but generally everything was ok.

[2018-03-21 22:28] jmdye opened #897 "icon-after and icon-sup modifiers"
It would be nice to have an additional modifier for ui icons that would move icon placement to after the text rather than before.

For example, the modifier ```icon-ui-link-external``` produces this result when used on an element.
![screen shot 2018-03-21 at 6 21 13 pm](https://user-images.githubusercontent.com/12836703/37740635-cf12af5a-2d34-11e8-9bab-190430431f84.png)

However, if I want that ic

[2018-03-21 22:47] paulcpederson commented on #897
The icon font is actually deprecated. You should just put an svg in there.

[2018-03-22 00:58] jmdye commented on #897
alrighty then

[2018-03-22 00:58] #897 closed

[2018-03-22 01:01] paulcpederson commented on #897
http://gif-finder.com/wp-content/uploads/2016/07/Jim-Carrey-Alrightythen.gif

[2018-03-22 19:23] macandcheese commented on #888
Fixed in https://github.com/Esri/calcite-web/pull/899

We needed to handle this better but adding a horizontal scroll on such a small click / tap target might be problematic. This allows long strings to break to multiple lines while maintaining the scroll and indentation of code in pre blocks. This should solve for overflow on doc pages with long unwrapped <code> items and make it into 1.0.

[2018-03-22 19:23] #888 closed

[2018-03-22 19:52] #837 closed

[2018-03-22 19:52] #864 closed

[2018-03-23 14:57] jmdye opened #901 "Toggle requires 3 clicks before "flipping""
First off, awesome job on the toggle switch and dark theme. It looks great. I noticed some issues with this first go of it.

After giving the toggle focus with that first click, the clicking the toggle again doesn't actually "flip" the toggle and apply the dark theme. I noticed this only happens if you don't have any cookies or history from CW where the toggle has already been successfully "flippe

[2018-03-23 15:40] macandcheese commented on #901
Will 👀 at this today, thanks.

[2018-03-23 15:46] jmdye opened #902 "Likert Scale Component"
Any chance we might be able to get a likert scale component down the road? I would find it useful in forms that are more survey-centric. If there are plans to add 'stops' to the range-slider down the road, that might also suffice if I could label each of the stops.

[2018-03-23 16:04] macandcheese commented on #902
Hi @jmdye - We just added the base range slider component - and are planning some helpers for it in in https://github.com/Esri/calcite-web/issues/876 down the line. Fixed point labels are a larger task, I'm not sure how heavy we want to make CW in this case vs. deferring to libraries more suited like https://refreshless.com/nouislider/pips/.

[2018-03-23 17:16] jmdye commented on #902
Fair enough. What about something like a modifier for in-line radio buttons with a little styling flair to make it feel like a likert scale?

[2018-03-23 18:34] oknoway opened #904 "btn-link as an extend prevents build"
`%btn-link` calls the mixin `font-size`. Using `%btn-link` as an extend causes the `font-size` mixin to be called before `type/_scale.scss` is loaded.

`btn-link` should probably be rewritten as a mixin.

[2018-03-23 18:34] oknoway opened #905 "dist/components/_slider.scss and dist/components/_switches.scss are missing"
Looks like these two new files didn't get properly `dist`-ed. This prevents building.

[2018-03-23 18:55] #904 closed

[2018-03-23 18:55] #905 closed

[2018-03-26 16:46] macandcheese commented on #902
I'd still recommend using the above library or something similar, rather than try to wrangle the radios into something really custom. Feel free to take the base CW styles and build upon those for something bespoke. Going to close for now, maybe we can take another look at this when we add re-visit more "applike" components down the line.

[2018-03-26 16:46] #902 closed

[2018-03-28 17:10] jimmieego opened #913 "Accessibility: Allow arrow keys to scroll the sample code box"
Sometimes the sample code box needs horizontal/vertical scrolling (e.g., the sample code for [Dropdowns](http://esri.github.io/calcite-web/documentation/components/#dropdowns)). Currently the sample code box is not in tab order (no `tabindex`), which makes it difficult for keyboard users to scroll to see the overflow code.

Suggestion:
- Check if the sample code box needs scrolling (using `scrollW

[2018-03-28 17:13] paulcpederson commented on #913
I think we'll just have to add `tabindex=0` to all of them, I don't think that would really have a downside and it would be a LOT easier to implement.

[2018-03-28 17:15] jimmieego commented on #913
Totally.

[2018-03-28 17:16] paulcpederson commented on #742
will be fixed in the next relase

[2018-03-28 17:16] #742 closed

[2018-03-28 17:18] paulcpederson commented on #851
@sreinhard why do you zoom in?

[2018-03-28 20:46] #913 closed

[2018-03-28 20:48] macandcheese commented on #913
Fixed in https://github.com/Esri/calcite-web/pull/914 - will update next time we push docs to gh pages.

[2018-03-28 21:06] macandcheese commented on #913
Updated on live.

[2018-03-30 20:06] macandcheese opened #918 "Deprecate components that exist elsewhere"
- Defer icon docs to https://github.com/ArcGIS/calcite-ui-icons
- Defer top navigation markup and docs to https://github.com/Esri/global-nav

[2018-04-03 23:36] paulcpederson commented on #889
16px will be the new base font size as part of the 1.0.0 release.

[2018-04-03 23:36] #889 closed

[2018-04-03 23:37] paulcpederson commented on #806
will be part of next release.

[2018-04-03 23:37] #806 closed

[2018-04-03 23:37] paulcpederson commented on #847
all of these have been converted, will be part of next release

[2018-04-03 23:37] #847 closed

[2018-04-05 17:21] mpriour opened #923 "pre- and post- column classes are ignored at wide or high dpi screens"
The pre and post classes are not getting applied at screen widths larger than 1525px in normal left-to-right layout. They do work properly in rtl mode.
This is likely due to the fact that these classes come before the html selector in the wide screen rules. See: https://github.com/Esri/calcite-web/blob/master/dist/css/calcite-web.css#L1688

[2018-04-05 17:32] paulcpederson commented on #923
@mpriour I fixed this on `master` already, will push a new version soon.

[2018-04-05 17:42] mpriour commented on #923
@paulcpederson great! thanks.

[2018-04-05 19:29] paulcpederson commented on #826
In next release all media queries, column widths, etc will be even pixel values. Type sizes are now based off 16px so almost all of them are also even pixels now.

[2018-04-05 19:29] #826 closed

[2018-04-05 19:30] paulcpederson commented on #866
List styles will be much less intrusive in the next release. Anything past this will need to be handled by the JSAPI styles, but any fixes should be very lightweight now.

[2018-04-05 19:30] #866 closed

[2018-04-05 19:30] #923 closed

[2018-04-05 19:31] paulcpederson commented on #923
Will keep you posted when the release is out.

[2018-04-05 19:34] paulcpederson commented on #852
this will be part of the next release

[2018-04-05 19:34] #852 closed

[2018-04-05 21:09] paulcpederson commented on #851
@sreinhard @lheberlie can you two try this out again. There was a slight tweak to the columns, so I'm wondering if that helped at all.

[2018-04-05 21:10] paulcpederson commented on #835
I looked into this and it will actually be more code to use classlist everywhere. Using our helper is fine.

[2018-04-05 21:10] #835 closed

[2018-04-05 21:12] paulcpederson commented on #755
After talking this over with Creative Lab it seems like there is going to be a higher-level of documentation that exists for Calcite as a whole. I don't think CW will own the colors part of this. I'm closing for now, if it turns out we need to document this we can reopen.

[2018-04-05 21:12] #755 closed

[2018-04-05 21:13] paulcpederson commented on #820
Most of the raw html element styles that were problematic have been removed. I am going to close this as I think it's been largely addressed.

[2018-04-05 21:13] #820 closed

[2018-04-05 21:14] paulcpederson commented on #839
We should open a separate issue for moving to calcite-ui-icons. This issue can be closed as we won't control naming anymore.

[2018-04-05 21:14] #839 closed

[2018-04-07 00:41] paulcpederson opened #929 "Line height is incorrect in Edge (fonts render too low, not vertically centered)"
![screen shot 2018-04-06 at 5 40 54 pm](https://user-images.githubusercontent.com/1031758/38449291-b4ccf1e8-39c1-11e8-8550-80765de44789.png)

[2018-04-07 00:42] paulcpederson commented on #929
`sub-nav` above shows behavior. The links should be vertically centered within the tabs. This also happens for other patterns like buttons, side navs, etc.

[2018-04-07 00:58] #929 closed

[2018-04-09 20:54] oknoway opened #932 "Search Overlay broken in Firefox at $phone on Windows"
Pseudo element used for `vertical-align: middle` is breaking this.

![firefox_2018-04-06_15-05-37](https://user-images.githubusercontent.com/29742178/38446267-f985c136-39ab-11e8-8d15-f103b4246d6a.png)

[2018-04-10 00:46] paulcpederson commented on #932
assigning to @oknoway as I believe he's working on a fix right now.

[2018-04-10 07:15] sreinhard commented on #851
@paulcpederson how would I test this? I can still reproduce the issue on https://jscore.esri.com/javascript/latest

The reason I zoom in, is that text is easier to read on my monitor. Note that this is a global Windows setting, which the browser picks up. The zoom level in my browser is 100%.

[2018-04-10 17:33] paulcpederson commented on #851
@sreinhard visit the Calcite Web docs (http://esri.github.io/calcite-web/documentation/) with the configuration that's problematic and see if that breakpoint hits at the exactly wrong place for you still

[2018-04-10 18:17] #836 closed

[2018-04-10 18:17] #901 closed

[2018-04-10 18:46] jmdye opened #937 "Pricing Table is misaligned with cards in Marketing Extension"
Not sure what's going on here, but it ain't right. The pricing table looks as if it has a post-3 or 4 applied, but it doesn't. Anyway, the effect is that the table aligns left instead of right. Of course, it's not all bad...

![screen shot 2018-04-10 at 2 39 39 pm](https://user-images.githubusercontent.com/12836703/38577038-ca8a3fea-3ccd-11e8-94ec-5a1bd31bfcb5.png)

[2018-04-10 18:54] jmdye commented on #918
Does this mean you guys are planning to remove top-navigation as a component from CW and instead defer to Esri's Global Nav? That's going to cause some issues for me since I don't have access to that stuff and use CW to build Doc Sites for our my companies internal Esri stack. Hope I'm misinterpreting.

[2018-04-10 19:00] macandcheese commented on #937
This occurred after the addition of the `table` class, updated docs to fix in https://github.com/Esri/calcite-web/pull/938.

[2018-04-10 19:00] #937 closed

[2018-04-10 19:08] jmdye opened #940 "Add extension components to component status table in docs/quick-reference"
There are additional components in the Navigation and Marketing extensions that are not listed on the component status page in quick-reference. Namely ```.image-switcher```, ```.carousel``` in marketing and ```.pricing-table``` in e-commerce.

Would be nice to be able to see the status of these components there, especially ```. carousel``` since it still seems to be a work in progress.

[2018-04-10 21:07] paulcpederson commented on #932
will be covered in next release thanks to champion @oknoway

[2018-04-10 21:07] #932 closed

[2018-04-11 07:26] sreinhard commented on #851
@paulcpederson on this page the half screen layout is ok. the bad layout happens at around 859 pixels now, which is very hard to hit manually for me.

[2018-04-11 14:29] MikeTschudi opened #941 "Filter dropdown graphics don't support RTL"
Using the example http://esri.github.io/calcite-web/documentation/patterns/#filter-dropdown and adding `dir="rtl"` to the html tag, one sees

![image](https://user-images.githubusercontent.com/2125181/38623080-5db9654c-3d6a-11e8-9dd8-1a2beacd9e24.png)

![image](https://user-images.githubusercontent.com/2125181/38623096-643bf4c0-3d6a-11e8-9f41-4f7f4811ecf8.png)

Adding the following CSS appears to

[2018-04-11 18:26] macandcheese commented on #941
Fixed in https://github.com/Esri/calcite-web/pull/942 - also made some slight alignment changes to the filter lists in both RTL and LTR.

[2018-04-11 18:26] #941 closed

[2018-04-11 18:30] macandcheese commented on #940
Fair enough - we currently only show base library components and not any of our patterns / extensions. Feel free to add those in a PR, or we can try to look at updating that the next pass we do of the Quick Reference section.

[2018-04-11 18:30] #940 closed

[2018-04-11 18:34] #876 closed

[2018-04-12 20:35] kylejonesdesign opened #943 "Drop shadows on cards"
Wanted to see what you all think about providing options for drop shadows on cards. On esri.com for example, we rarely use drop shadows so devs have to manually override this all the time. In our chat on Slack, Adam suggested having options like drop-shadow-small, drop-shadow-medium, drop-shadow-none as opt-in classes that way if teams need to “customize” a component at least it can be selected fr

[2018-04-12 20:39] macandcheese commented on #943
Thanks for submitting - This is a good request... In my mind it'll be impossible to have "one size fits all" that will work for everyone, but having some standardized options to choose from could be a good start. I know there have been discussions with @julio8a @mitc7862 etc about creating general Calcite "shadow guidelines" (along with color, spacing, etc)... this is a good example of needing tho

[2018-04-12 20:40] macandcheese commented on #803
Related https://github.com/Esri/calcite-web/issues/943

[2018-04-14 04:12] jonathantneal commented on #836
👍

[2018-04-16 17:21] julio8a opened #944 "documentation bug – dropdowns"
dropdown menus are showing up below the code snippets:

![image](https://user-images.githubusercontent.com/6144462/38824963-d866aefa-415f-11e8-8e76-aef42e942c2f.png)

[2018-04-16 17:46] macandcheese commented on #944
Yeah, this is a result of trying to constrain full-width component examples like top nav to not break the width of the page, etc... Which doesn't play so nicely with other overflow values. Looking into it...

[2018-04-16 23:15] paulcpederson commented on #943
This is similar to what we have with panels. Ie panels have a border by default but we provide a `panel-no-border` modifier to remove it if need be.

[2018-04-16 23:17] paulcpederson commented on #851
OK, I think we can close this as a known issue. Once level-4 media queries are widely supported and Sass allows their syntax we can reopen and improve.

[2018-04-16 23:17] #851 closed

[2018-04-17 23:35] skitterm commented on #437
I feel stuck in the modal if I have to click a small "X" button instead of just clicking outside the modal anywhere to close. Bootstrap 4's modals allow clicking anywhere outside the modal to close, as do modals on esri.com.

Is there a way to satisfy accessibility needs while still allowing clicking outside the modal to close?

[2018-04-17 23:39] skitterm opened #945 "Opening modal causes page to shift"
On Windows Chrome, when I open a modal, the page scrollbar goes away and the page shifts ~20px to the right. Otherwise the experience of the modal fading in and up is smooth, but it feels janky when the page shifts quickly underneath it (and then back over when the modal is dismissed).

Would it be possible to keep the scrollbar but still disallow scrolling? Or alternatively, a solution like Boots

[2018-04-18 16:28] paulcpederson commented on #437
Reading through the spec I see this has maybe changed since this issue was closed:

Looks like the door is open to possibly close on click outside the modal now. @patrickarlt thoughts?

[2018-04-18 16:36] macandcheese commented on #944
Addressed in https://github.com/Esri/calcite-web/pull/946

[2018-04-18 16:36] #944 closed

[2018-04-18 16:38] paulcpederson commented on #918
You're not misinterpreting. Most likely the first take at this will involve just setting the default config variables, so you will hopefully be able to set `$include-top-navigation: true` and continue to use it. This would involve using Sass, though.

[2018-04-18 16:44] jmdye commented on #918
Thanks for the response. I don't mind learning Sass or changing the style - I get that I'm a free rider on this. I just know that I can't access Esri's global-nav or calcite-ui-icons repos because I'm not part of the Esri Org. So if the CW install doesn't include all of the necessary stuff without requiring me to be part of the Esri org, I'll be hosed and forced to remain on an older version of CW

[2018-04-18 16:50] paulcpederson commented on #918
Yeah, you could also just vendor the additional patterns that are being deprecated into your app and use that "patch" over the top of new releases. Just copy and paste what you need and then use the latest, if that makes sense.

[2018-04-18 17:01] jmdye commented on #918
That's reasonable - though if at all possible I'd prefer not to. I get that Esri can't share everything and that global-nav is pretty baller. I can certainly see why it wouldn't be made available to anyone outside the org.

[2018-04-18 19:09] paulcpederson commented on #945
Yes, this should be possible with some changes to the `_reset` styles on the html element. The Bootstrap example puts their overflow property on the body element, which I think we should move to. Marking as bug.

[2018-04-18 20:31] paulcpederson commented on #791
This is something that will be owned by the global-nav component.

[2018-04-18 20:31] #791 closed

[2018-04-23 17:35] paulcpederson commented on #945
Will be fixed on next release

[2018-04-23 17:35] #945 closed

[2018-04-23 17:36] skitterm commented on #945
Awesome, thanks @paulcpederson!

[2018-05-02 13:07] MikeTschudi opened #950 "Accordion closed arrow points in inconsistent direction for RTL"
![image](https://user-images.githubusercontent.com/2125181/39524780-bd297a64-4ddf-11e8-82ab-c9fe45737f73.png) vs. ![image](https://user-images.githubusercontent.com/2125181/39524646-353fc02c-4ddf-11e8-98b4-ca23455a07b2.png)

This CSS fixes it:
[code]
![image](https://user-images.githubusercontent.com/2125181/39524688-585207c8-4ddf-11e8-9d98-eaa13e397a18.png)

[2018-05-02 15:28] macandcheese commented on #950
Thanks for the catch @MikeTschudi, will be fixed in https://github.com/Esri/calcite-web/pulls

[2018-05-02 15:28] #950 closed

[2018-05-02 22:29] skitterm opened #953 "Modal toggle -- when toggle element has children, clicking on children doesn't open modal"
If a `js-modal-trigger` element has any child elements, clicking on those children will not open the modal as expected.

Modal with button trigger: https://jsbin.com/huzenujuji/1/edit?html,output -- The modal opens when clicking anywhere on the button

Modal whose button trigger has a span child: https://jsbin.com/huzenujuji/edit?html,output -- The modal soes not open when clicking on the button t

[2018-05-03 21:43] skitterm opened #954 "Modals added dynamically take longer and longer to launch"
I'm working on migrating [My Stories](http://storymaps.arcgis.com/en/my-stories/) from Tailcoat to Calcite . My Stories is a dynamic web app where DOM is added throughout the user's interaction with the page. Some of this added-on-the-fly markup includes buttons that launch modals. Each time I inject these elements, I need to call `calcite.modal()` for the button to get its "launch modal" event.

[2018-05-03 21:55] paulcpederson commented on #954
WE have the infrastructure to handle this, we do it in dropdowns already:

https://github.com/Esri/calcite-web/blob/master/lib/js/patterns/dropdown.js#L47

Just need to write the logic into other patterns. PRs welcome.

[2018-05-07 20:29] skitterm commented on #954
Ok, PR submitted to solve this issue.

[2018-05-09 15:21] MikeTschudi opened #957 "Is it possible to nudge a font character up a pixel to align it with others?"
The calcite-ui font character \f147 (icon-ui-link-external) is a pixel lower than some of its peers:
![image](https://user-images.githubusercontent.com/2125181/39823147-fb2558fa-5371-11e8-9750-ad0c12c5fa0c.png)

It's not just with these icons; you can see it on the [Calcite icons](http://esri.github.io/calcite-web/documentation/icons/) doc web page:
![image](https://user-images.githubusercontent.c

[2018-05-09 16:17] paulcpederson commented on #954
fixed by @skitterm ! Will be part of upcoming release

[2018-05-09 16:17] #954 closed

[2018-05-11 16:18] macandcheese commented on #957
Hi Mike - we're in the process of deprecating the icon font - If it's feasible I'd suggest using icons from https://github.com/ArcGIS/calcite-ui-icons library as they actively maintain and update those - the icon folks pretty receptive to icon update suggestions.

[2018-05-11 16:18] #957 closed

[2018-05-14 19:08] MikeTschudi commented on #957
Thanks for the link, @macandcheese

[2018-06-01 04:54] skitterm commented on #766
This is fixed on desktop, but on iPad I'm still seeing the page scroll when dragging my finger over a modal.

[2018-06-09 22:31] skitterm opened #960 "vw-ratio is not override-able"
In the grid docs (http://esri.github.io/calcite-web/documentation/grid/#configuration), it says you can override `$vw-ratio` to change how wide the `.grid-container` can become. However, I noticed that `$vw-ratio` cannot be customized. Looks like that's due to a missing `!default` [here](https://github.com/Esri/calcite-web/blob/80ca9d637f8c01143a68f695457c2e1c69e7bca9/dist/sass/calcite-web/base/_c

[2018-06-16 22:17] paulcpederson commented on #803
This will be updated with the new design standards for depth/float. Closing.

[2018-06-16 22:17] #803 closed

[2018-06-20 16:17] julio8a opened #962 "li tag"
I've gotten some feedback from API team about list item tags being difficult to work with since styling is applied to the tag. We had a similar issue with the `table` tag, let's do the same with this `li` tag and  move out styles to class.

[2018-06-20 16:27] macandcheese commented on #962
Do you know what version of CW they are using? As of 1.0 there is very minimal styling applied to the base UL / OL classes - a small font scale adjustment. LI elements themselves have a small margin-top adjustment. "Numbered" and "Plain" variants are available via helper class. If you can pass along what the difficulty was that would be helpful.

[2018-06-20 16:27] julio8a commented on #962
^ @asangma

[2018-06-20 16:29] paulcpederson commented on #962
@julio8a yeah we updated list styles as part of `v1.0.0` to fix #866 . I don't think there is much more we can do, the li styles are largely browser default at this point and there are no nested selectors.

[2018-06-20 16:29] paulcpederson commented on #962
I would say tell them to update to the latest and greatest and see if that fixes their issues.

[2018-06-20 17:12] asangma commented on #962
[This is the bit](https://github.com/Esri/calcite-web/blob/master/dist/css/calcite-web-no-fonts.css#L2765) that was poking me in the eye.

[code]

But after a chat with @macandcheese, I understand that changing that would break the Internet. For now, we can either fix at the app level or by explicitly setting margins for relevant `li` elements.

...until we are all one. ☁️

[2018-06-20 19:44] elake2018 opened #963 "Styles in download do not match examples on site"
I like the style of calcite and I am developing some ESRI map apps and want to use the JS API 4.7 and Bootstrap 4+. Now I was hoping to find some stripped down sample pages that I could take and get running with (similar to what getbootstrap offers), but it appears I will have to strip out what I don't want. Now I downloaded the latest release from the top link in the nav, I also wanted to start b

[2018-06-20 20:19] paulcpederson commented on #963
@elake2018 yes. We use Sass to build the css for our documentation, so the names won't match because calcite-web is _included in_ `all.css`. If you don't want to use Sass, and you would like a stripped down file, you could always follow [the quickstart guide](http://esri.github.io/calcite-web/guides/quickstart/). If a guide isn't really your style, you could start with the [get started](http://esr

[2018-06-21 13:32] elake2018 commented on #963
I will say I ended up here from calcite-maps. On that project they say what's below to get started which is a little confusing. They appear to be the same project more or less and since both are ESRI I expected maps to an integral part of this calcite-web project, but it's not even mentioned.

"To get started, typically you: 1) Build a Bootstrap HTML page, 2) Add references to Bootstrap and Calcit

[2018-06-21 16:35] paulcpederson commented on #963
@elake2018 I see, yeah this is a very different project than Calcite Maps. Calcite Maps is a _theme for bootstrap_. This is a totally independent CSS Framework.

The JSAPI includes widgets for most components you'd want from a mapping perspective, and we [have](https://github.com/Esri/calcite-web/issues/133) [fixed](https://github.com/Esri/calcite-web/issues/580) [several](https://github.com/Esri/

[2018-06-25 22:34] julio8a commented on #962
okay, closing this out. Thanks all.

[2018-06-25 22:34] #962 closed

[2018-07-30 23:28] julio8a opened #964 "update color variables"
There is a new colors palette for all of Esri. The new set has matching or close HEX values compared to the old color set. Therefore, updating the colors in CW should not be a major change, but slight color changes at worst.

@paulcpederson, it might be easier to make the adjustments in the [Calcite Color](https://github.com/Esri/calcite-colors) repository since it's referenced by CW?

[2018-07-31 17:27] MikeTschudi opened #966 "Hebrew diacritical marks offset in Safari and Edge"
Started with the Quickstart, changed the html tag to `<html lang="he" dir="rtl">`, and added the text "לְדַפדֵף הפתרונות שלי עֶזרָה הֲגָנָה" to the page content. In Safari, the diacritical marks are offset to the left:
![image](https://user-images.githubusercontent.com/2125181/43472606-b36eaad0-94a2-11e8-827f-61fd033377f8.png)
Safari 11.1.2 on top; Chrome 68 on bottom; Edge offset like Safari; FF

[2018-07-31 18:30] MikeTschudi opened #967 "Some Russian characters are rendered taller than others"
Started with the Quickstart, changed the html tag to `<html lang="ru" dir="ltr">`, and added the text "Помогающие агентства становятся более устойчивыми, разрабатывают планы готовности и реагируют на чрезвычайные ситуации" to the page content. With Firefox 59.0.3 (Windows machine, Clear Type turned on), @akudinova477 found that some of the characters are rendered taller than others:
![image](https

[2018-07-31 21:29] paulcpederson commented on #964
We don't actually pull them in from that repo as it's private and caused problems during installation. We can update them here, though.

[2018-07-31 22:08] MikeTschudi commented on #966
@paulcpederson, if I use the debugger to remove "Avenir Next &lt;W01,W00,&gt;", the next font family is Avenir, and it displays correctly in both browsers.

[2018-07-31 22:42] paulcpederson commented on #966
Are you on a Mac/do you have Avenir installed on your system. Most likely when you remove the fonts from the font stack it's just falling back to a copy of Avenir which you have on your system. Users that don't have that font (windows users, android, linux, etc) won't see the correct font at all in that scenario. I am trying a couple things locally and hopefully I'll figure out the issue.

[2018-07-31 23:02] MikeTschudi commented on #966
Oops.

Safari test is on a Mac; Edge test is on Windows 10.

[2018-07-31 23:06] MikeTschudi commented on #966
@paulcpederson --no JSAPI for test page (copied below); JSAPI 4.8 + calcite-web + globalNav for webapp where it's also visible.

[code]

[2018-07-31 23:09] paulcpederson commented on #966
thanks @MikeTschudi , that is very helpful

[2018-07-31 23:34] MikeTschudi commented on #966
@paulcpederson The test program is hosted at http://localgovtemplates2.esri.com/support/fonts/he.html

[2018-08-01 00:33] paulcpederson commented on #966
@MikeTschudi I figured this out: when exporting from monotype, OpenType features must be enabled so that these work as expected. Not totally sure why this only affected Safari, I guess chrome's rendering engine is slightly more capable of figuring it out even when the OpenType stuff isn't there.

I've exported the hebrew font files out again, and will let you know once they make their way to the C

[2018-08-01 15:28] etwood opened #968 "npm install in documentation fails"
When attempting to install calcite-web using the instructions in the documentation the install fails.

npm install --save-dev Esri/calcite-web#v1.0.1

Tried without the #v1.0.1 and v1.0.2 was installed.

[2018-08-01 18:38] macandcheese commented on #968
Hi @etwood - We've updated the docs to reflect the current release. Let me know if you have any further issues.

[2018-08-02 21:01] paulcpederson opened #969 "Green label component is not accessible"
Green labels don't pass WCAG AA compliance. We should use `$dark-green`. Related to #964 if there are new colors they may have an accessible green-white combination.

[2018-08-02 21:01] paulcpederson commented on #968
@etwood feel free to reopen if you issue was not addressed!

[2018-08-02 21:01] #968 closed

[2018-08-02 21:02] #963 closed

[2018-08-03 15:16] etwood commented on #968
Thanks for the quick response.  I double checked and it looks good.

[2018-08-04 00:51] paulcpederson commented on #967
@MikeTschudi I am having trouble recreating this. I am not seeing what is shown in the screenshot. In 59.0.3 it looks like this for me:

![d642726de26541c4536304009cfe77ec](https://user-images.githubusercontent.com/1031758/43670840-aef4ef64-9745-11e8-96e1-41091ca87b47.png)

I've tried Mac and Debian Linux as well and just can't reproduce. Any more info? Also, does the problem persist after @akudin

[2018-08-06 17:30] akudinova477 commented on #967
@paulcpederson I've updated FF to the latest version 61.0.1, the font still looks the same
![image](https://user-images.githubusercontent.com/17889173/43731390-358cdfb8-9963-11e8-97e2-ecacde9eafaa.png)

just noticed, if I increase zoom level to 110%, the font looks ok
![image](https://user-images.githubusercontent.com/17889173/43731451-689e04cc-9963-11e8-9c7c-a7e587ca9c58.png)

Probably it's somet

[2018-08-06 18:37] paulcpederson commented on #967
@akudinova477 ok, I'm going to close this out for now, but feel free to open again if we can change anything in Calcite Web to fix this for you.

[2018-08-06 18:37] #967 closed

[2018-08-06 21:13] julio8a commented on #964
@paulcpederson, [calcite-color](https://github.com/Esri/calcite-colors) is public.

[2018-08-07 00:47] paulcpederson commented on #964
Nice. We should update all the colors in that repo and then we can pull it into calcite web from there.

[2018-08-07 16:56] mara-dolan opened #972 "Links broken on https://esri.github.io/calcite-web/"
Most of the in-paragraph links I clicked on https://esri.github.io/calcite-web/ are broken, but perhaps I don't have access to the target spots. Just thought it'd best to report it.

[2018-08-07 17:03] paulcpederson commented on #972
@mara-dolan updated, thanks for reporting!

[2018-08-07 17:03] #972 closed

[2018-08-09 21:00] julio8a opened #974 "calcite-ui-icons integration"
* We need to bring in the new svg icons from the [calcite-ui-icon repository](https://github.com/Esri/calcite-ui-icons) and deprecate the old CW icons.
* Additionally, we'll need a reference page where all the icons are displayed. Similar to what we were doing on clidev:
![image](https://user-images.githubusercontent.com/6144462/43925466-27b3548c-9bdc-11e8-9de8-60f630b49cf6.png)

The sooner we get

[2018-08-09 21:15] macandcheese commented on #918
Closing this - will take place through other tasks.

[2018-08-09 21:15] #918 closed

[2018-08-09 21:16] macandcheese commented on #794
Closing this - should be fixed for global nav.

[2018-08-09 21:16] #794 closed

[2018-08-09 21:17] macandcheese commented on #943
Closing this - will be updated with component UI updates for 2.0

[2018-08-09 21:17] #943 closed

[2018-08-13 16:45] julio8a opened #976 "Publish on NPM catalog"
https://www.npmjs.com/search?q=calcite

[2018-08-28 21:20] paulcpederson opened #978 "Improve accessibility of accordion component"
JAWS does not announce the expanded/collapsed state of an accordion section title.

![379cd542-9c83-11e8-9de4-7e78ea9c112e](https://user-images.githubusercontent.com/1031758/44751567-5b34ba80-aacd-11e8-8a99-d2a33d709086.png)

As per the [W3C Example](http://w3c.github.io/aria-practices/examples/accordion/accordion.html), we need to move the `aria-expanded` from the `<section>` element to the `<h4>

[2018-08-28 21:29] paulcpederson opened #979 "Update search inputs to use new search icon"
`.input-search` class should use the newer search icon from calcite-ui-icons rather than the current magnification icon.

http://esri.github.io/calcite-web/documentation/components/#text-inputs

[2018-09-05 23:15] asangma opened #980 "html overflow-y. Can it be auto?"
Can [this](https://github.com/Esri/calcite-web/blob/master/dist/css/calcite-web-no-fonts.css#L9) be `auto` instead of `scroll`?

[code]

Interfaces that do not scroll (like the Data tab) get the scrollbar gutter.
This is also apparent with modal overlays.
![mysandiego maps arcgis com_home_item html_id 79d473995c25409797ec5a435ebff96a](https://user-images.githubusercontent.com/12503298/45126180-e7c

[2018-09-06 16:29] jimmieego opened #981 "Improve keyboard accessibility of the Tabs component"
The Tabs component supports moving the focus by <kbd>Tab</kbd> key. According to [WAI-ARIA Authoring Practices](http://w3c.github.io/aria-practices/#tabpanel), the keyboard interaction should also support:

- Using the <kbd>&larr; </kbd> / <kbd>&rarr; </kbd> arrow key to move focus to the previous/next tab. For performance reasons, we may not want to activate the newly focused tab automatically.
-

[2018-09-06 16:45] paulcpederson commented on #980
looking into this, assigning to 1.1.0

[2018-09-06 16:47] paulcpederson commented on #981
👍 Nice, assigning this to 1.1.0 (next release)

[2018-09-11 00:43] paulcpederson commented on #974
Calcite UI Icons has it's own preview site now: https://esri.github.io/calcite-ui-icons/

The icons are integrated and displayed in the `2.0` branch, so I am closing this issue. 👍

[2018-09-11 00:43] #974 closed

[2018-09-12 01:00] paulcpederson commented on #964
in progress on 2.0 branch

[2018-09-20 16:21] paulcpederson commented on #978
addressed in v1.1.0

[2018-09-20 16:21] #978 closed

[2018-09-20 16:21] paulcpederson commented on #979
addressed in 1.1.0

[2018-09-20 16:21] #979 closed

[2018-10-01 23:58] schontz commented on #976
Until then, the [npm installation instructions](http://esri.github.io/calcite-web/documentation/#npm) do not work!

[2018-10-02 00:09] paulcpederson commented on #976
@schontz actually those instructions will work. That is the syntax for installing an npm module via a _GitHub repository_. So that has and will continue to work even without publishing.

[2018-10-02 00:11] schontz commented on #976
OK. But FYI...

[code]

[2018-10-02 15:52] paulcpederson commented on #976
@schontz oh, you're missing the `v` on the version name, should be `#v1.1.0` as per the documentation. Just tried on Windows and it works fine.

[2018-10-02 15:55] schontz commented on #976
Oops. Thank you!

[2018-10-02 21:09] schontz opened #985 "Support Bootstrap's active button state"
I expect Calcite to support `active` button states like bootstrap usually does: https://getbootstrap.com/docs/4.0/components/buttons/#active-state

[2018-10-11 06:42] ialixandroae opened #988 "Input type "date" not working in IE11"
The date picker in input type "date" not appearing in IE11.
The behavior is like a normal input type "text"

![image](https://user-images.githubusercontent.com/18401030/46785292-02964580-cd3a-11e8-8b8a-aabbf41ab306.png)

[2018-10-11 17:36] paulcpederson commented on #988
Unfortunately that's a limitation of IE11. We are styling the HTML5 element, but IE11 doesn't provide it: https://caniuse.com/#feat=input-datetime .

I believe there are polyfills for IE11 that replicate that behavior, and there are also several third-party date selection widgets. Hope that helps...

[2018-10-11 17:40] ialixandroae commented on #988
Oh, ok... well, I will see what I can do about this.
Thanks a lot for your feedback!

[2018-10-11 17:40] #988 closed

[2018-10-27 01:00] paulcpederson opened #989 "Dropdown accessibility improvements"
- Ensure arrow keys move focus between menu items
- When tabbing away from the menu to the next focusable element on the page, the menu should be closed/collapsed.
- Each menu item needs to have `role=menuitem`.

[2018-11-01 21:37] paulcpederson opened #990 "Input Error and Input Success not RTL compliant"
Currently, the input and error modifiers on an input do not flip horizontally for right to left:

![screen shot 2018-11-01 at 2 36 47 pm](https://user-images.githubusercontent.com/1031758/47881543-a7f58400-dde3-11e8-9e81-eeea9151db29.png)

Need to add a rule that puts the image on the left side of the input in rtl languages.

[2018-11-01 22:32] macandcheese commented on #990
Fixed in https://github.com/Esri/calcite-web/pull/991

[2018-11-05 22:15] kellyhutchins opened #992 "Error with esc key handling in calcite.js"
Looks like there is an issue in calcite-js with the key handling for the esc key.

Reproducible steps:
1. Navigate to the content page on ArcGIS Online.
2. Open the dev console and press the esc key and note the following error in the dev console:
[code]

[2018-11-05 22:17] paulcpederson commented on #992
Looks like this is related to the `closeDrawer` logic. When there is no drawer, the handler is still attached, so you get an error. Targeting next minor release.

[2018-11-19 19:28] paulcpederson opened #995 "Ensure Skip to Content has sufficient contrast"
Skip to content should have a background color _and_ text color declared to ensure that it is always readable. Right now we set background to white, but it's possible applications consuming Calcite Web could set the text as white, making it unreadable.

[2018-12-04 21:39] #772 closed

[2018-12-05 20:28] julio8a opened #997 "Avenir Next – esri MLA license (Typography docs)"
We need to guide users on who can and can not use Avenir Next through Calcite-Web.
We need to point them to the section in Esri's MLA to identify if they qualify for usage.

https://www.esri.com/en-us/legal/terms/full-master-agreement/mla-e204-e300-english
Master Agreement > 2.0 Software > 2.2 Permitted Uses > section C.

[2018-12-06 15:29] jmdye opened #999 "tabs-vertical modifier"
Can I haz a tabs-vertical modifier that would display the tabs in a vertical stack on the left side of the screen? Please! I'll give you a :cookie:

[2018-12-07 22:34] paulcpederson commented on #995
will be part of 1.2.0

[2018-12-07 22:34] #995 closed

[2018-12-07 22:35] paulcpederson commented on #985
Component that will address this (discussed in #986) will be part of v1.2.0

[2018-12-07 22:35] #985 closed

[2018-12-07 22:37] paulcpederson commented on #989
Will be part of v1.2.0

[2018-12-07 22:37] #989 closed

[2018-12-07 22:37] paulcpederson commented on #997
will be deployed to doc site after 1.2.0 gets released

[2018-12-07 22:37] #997 closed

[2018-12-07 22:37] paulcpederson commented on #992
Fixed, will be part of 1.2.0

[2018-12-07 22:37] #992 closed

[2018-12-07 22:38] paulcpederson commented on #762
This will be part of v1.2.0, which should be out sometime next week

[2018-12-07 22:38] #762 closed

[2018-12-07 22:42] paulcpederson commented on #999
@jmdye you could maybe use a view-switcher for this: http://esri.github.io/calcite-web/examples/marketing/

It's from the marketing extension, so requires another css/js file

[2018-12-11 15:11] dsahu75 opened #1001 "User dropdown issue in UserNav panel pattern"
The User dropdown is not visible fully since it is displayed behind  the code snippet in the usernav panel.
http://esri.github.io/calcite-web/documentation/patterns/#user-nav

Also the Sign In link and Sign Up buttons are misaligned in User Sign In
http://esri.github.io/calcite-web/documentation/patterns/#user-sign-in

[2018-12-18 14:44] jmdye commented on #999
that could probably work

[2018-12-18 14:44] #999 closed

[2018-12-20 02:04] noahmulfinger opened #1002 "Docs: Top Nav pattern example appears above search overlay"
- Go to https://esri.github.io/calcite-web/documentation/patterns/
- Click the top right search icon to open the search overlay
- You'll see the top nav example above the overlay (see screenshot)

I only tested on Firefox and Chrome, but its happening on both.

![screen shot 2018-12-19 at 6 00 45 pm](https://user-images.githubusercontent.com/6539297/50259223-0ab4d600-03b8-11e9-8cbf-7efe02df8107.pn

[2018-12-20 23:39] macandcheese opened #1003 "Add a 'table-layout: fixed' modifier"
It would be nice to have a `table-layout-fixed` opt-in modifier class to set `table-layout:fixed`, there are times where table-layout: auto/unset produces unwanted results.

[2019-01-07 17:34] macandcheese opened #1004 "Loader animation issue on Safari"
The "pulse" animation for the loading indicator doesn't respect height correctly after initial animation.

![screen shot 2019-01-07 at 9 33 36 am](https://user-images.githubusercontent.com/4733155/50783337-5f34ce00-125f-11e9-8263-febb7866c35c.png)

[2019-01-07 17:39] paulcpederson commented on #1004
thanks, _Safari_

[2019-01-09 23:31] julio8a opened #1007 "Update quickstart guide"
1. Getting the CSS pulled in
1. Setting up the global-nav
1. using some non-interactive components/patterns
1. using some interactive calcite-components
1. using some calcite-ui-icons

[2019-01-09 23:31] julio8a opened #1008 "Write typography guide"

[2019-01-09 23:32] julio8a opened #1009 "Write page descriptions"
Many pages have irrelevant descriptions. Each page should have a proper description added to the meta tag that makes sense for the page.

[2019-01-10 03:39] julio8a opened #1010 "Third Nav"
Use pagination underline styles #1012

[2019-01-10 03:41] julio8a opened #1011 "Side Nav"
use dropdown styles {bullet for active)

[2019-01-10 03:42] julio8a opened #1012 "Pagination"
@bstifle, post design mockup here for further review or critique.

[2019-01-10 03:44] julio8a opened #1013 "Modals"

[2019-01-10 03:48] julio8a opened #1014 "Tabs"

[2019-01-10 04:00] julio8a opened #1015 "Accordions"

[2019-01-10 04:02] julio8a opened #1016 "Drawers"

[2019-01-10 04:03] julio8a opened #1017 "Filter Dropdown"
Follow dropdowns UI #1021

[2019-01-10 04:04] julio8a opened #1018 "Stepper"
Stepper pattern documentation on design system website.

[2019-01-10 04:04] julio8a opened #1019 "Buttons"
- `btn-transparent`should still have the 1px border transparent so it doesn't jump up 1px. Keeping text aligned with primary and secondary buttons if they live side by side.

[2019-01-10 04:04] julio8a opened #1020 "Button Groups"

[2019-01-10 04:06] julio8a opened #1021 "Dropdowns"
@bstifle, post mockups for dropdown designs here.

[2019-01-10 04:07] julio8a opened #1022 "Loader"

[2019-01-10 04:07] julio8a opened #1023 "Alerts"
@macandcheese, post final designs here.

[2019-01-10 04:08] julio8a opened #1024 "Cards"
- Remove some and update others.
- Skeleton state, one card design styles

[2019-01-10 04:08] julio8a opened #1025 "Wide Cards"
Skeleton state, one card design styles

[2019-01-10 04:09] julio8a opened #1026 "Tables"
Best practices and pattern documentation on design system website.

[2019-01-10 04:11] julio8a opened #1027 "Form validation & inputs"

[2019-01-10 04:11] julio8a opened #1028 "Inputs and Input Groups"
- Inputs: padding updates
- Input Groups: Flexbox [input][btn]

[2019-01-10 04:12] julio8a opened #1029 "Selects"
Update to other form components

[2019-01-10 04:13] julio8a opened #1030 "Checkboxes & Radio Buttons"

[2019-01-10 04:13] julio8a opened #1031 "Radio Button(s)"

[2019-01-10 04:15] julio8a opened #1032 "Branding"

[2019-01-10 04:16] julio8a opened #1033 "Review mixins"

[2019-01-10 04:16] julio8a opened #1034 "Improve custom builds"

[2019-01-10 04:17] julio8a opened #1035 "Quick start"

[2019-01-10 04:17] julio8a opened #1036 "Typography"

[2019-01-10 04:17] julio8a opened #1037 "Forms"

[2019-01-10 04:18] julio8a opened #1038 "CW2.0 changelog"

[2019-01-10 22:26] julio8a opened #1040 "Add Esri MLA license to README"
reference other repositories leveraging the Esri MLA:
https://github.com/Esri/calcite-ui-icons

[2019-01-11 00:46] julio8a opened #1041 "Table"
- Update font weight to regular (500)
- other styling updates, if applicable

[2019-01-11 12:49] jmdye commented on #1021
Bruh...like, whoa. :trophy:

[2019-01-11 16:33] macandcheese commented on #1023
I think we can also provide a "right close" alignment

https://eloquent-leakey-aff86e.netlify.com/src/assets/images/cw2-alert-after-7bb1a722d21b64063979d0a593aa1516.png

[2019-01-11 16:43] macandcheese commented on #1013
Modals will now have additional opt-in classes:

- "statused" modals for information or destructive actions that can be combined with a regular modal or any of the below (except page takeover)
- "sheet" modals that dock at the bottom of screen on mobile and are constrained with a max-height
- "page takeover" modals that take the full page height and width, with a max width that reveals content beh

[2019-01-11 18:44] julio8a commented on #1040
updated on 2.0 branch

[2019-01-11 18:44] #1040 closed

[2019-01-16 23:36] julio8a commented on #1031
going to combine this with Checkboxes

[2019-01-16 23:36] #1031 closed

[2019-01-16 23:37] julio8a commented on #1030
Currently there are many variations of checkboxes...

This is ArcGIS Online along:
![image](https://user-images.githubusercontent.com/6144462/51285651-8ba9c200-19a4-11e9-8986-8c265fad388d.png)

[2019-01-16 23:43] julio8a commented on #1030
Here is the checkbox and radio box design by Mitch:

![image](https://user-images.githubusercontent.com/6144462/51285860-5651a400-19a5-11e9-984c-aa1e34ed2ca0.png)

[2019-01-18 22:20] schontz opened #1049 "Dark theme on developers.arcgis.com?"
I assume https://developers.arcgis.com uses the Calcite theme. For those of us who spend a lot of time on docs, being able to access the dark mode theme would make our poor eyes so much happier.

Thanks!

[2019-01-18 22:43] oknoway commented on #1049
@schontz Great idea! We've talked about supporting `@media (prefers-color-scheme: dark)` on `developers.arcgis.com`. However, most of the doc page styles are controlled by the individual doc teams, so that would be a much bigger endeavor.

We're starting to plan our roadmap for the next year, so I'll definitely bring this up to the team.

[2019-01-18 22:51] schontz commented on #1049
`prefers-color-scheme` is only available on a Mac and we don't use those at work. Some explicit option would be nice, if possible.

I frequent the JavaScript API docs, so +1 for that part of the site. Even if it's a hidden feature because of the work involved to get everything to look nice, I can open up DevTools and `useDarkMode(true)`, or similar, if it comes down to it.

[2019-01-18 23:21] paulcpederson commented on #1049
You could also install a Chrome plugin (or whatever browser you use) to do this as it seems like personal preference:

- https://chrome.google.com/webstore/detail/high-contrast/djcfdncoelnlbldjfhinnjlhdjlikmph
- https://chrome.google.com/webstore/detail/negative-revert-web-color/ohhfjfhanfnmmolddbjhfkogappmbndd
- https://chrome.google.com/webstore/detail/hacker-vision/fommidcneendjonelhhhkmoekeice

[2019-01-23 18:19] paulcpederson opened #1050 "Hidden elements in dropdowns affect arrow key navigation"
When a dropdown has dropdown-link elements that are hidden, the arrow navigation/fencing still goes through the elements.

We should filter this list for visibility before navigating after arrow keyup

[2019-01-23 22:19] jimmieego opened #1052 "Accessibility: `btn-link` does not have focus outline"
I noticed the example `btn-link` in the buttons section (http://esri.github.io/calcite-web/documentation/components/#buttons) does not have focus outline when in focus. Probably it's because the `outline` is set to `none`?

This affects the New folder button in ArcGIS Online.

![screen shot 2019-01-23 at 2 18 30 pm](https://user-images.githubusercontent.com/5437651/51640956-c8803680-1f19-11e9-8f7d

[2019-01-23 22:20] #1050 closed

[2019-01-23 23:45] paulcpederson commented on #1052
also applies to `radio-group` component

[2019-01-24 17:05] jpeterson opened #1053 "Doc for Forms should read "colon" instead of "semicolon""
The second sentence in the documentation for Forms mentions not following labels with a semicolon, but should say **colon**:

http://esri.github.io/calcite-web/documentation/components/#forms

[2019-01-24 19:19] macandcheese commented on #1053
Fixed in https://github.com/Esri/calcite-web/pull/1054

[2019-01-24 19:19] #1053 closed

[2019-01-25 21:02] julio8a commented on #1026
This is not part of CW2.0, but the design system website.

[2019-01-25 21:02] #1026 closed

[2019-01-25 21:08] julio8a commented on #1020
@paulcpederson, going to give this a try! 🤞

[2019-01-26 03:47] julio8a commented on #1020
Branch merged: #1055

[2019-01-26 03:47] #1020 closed

[2019-01-26 04:19] julio8a opened #1057 "Add play feature to animations"
http://esri.github.io/calcite-web/documentation/components/#animation

[2019-01-26 04:57] #1018 closed

[2019-01-26 04:57] #964 closed

[2019-01-28 18:58] bstifle commented on #1015
@mitc7862

[2019-01-28 19:04] julio8a commented on #1029
See #1021 designs.

[2019-01-28 20:35] bstifle commented on #1015
i went with the border radius since i was using it for the inputs and dropdowns and stuff

I think you're right about just squaring them off. good point

[2019-01-28 21:51] julio8a commented on #1016
Waiting for merge #1056

[2019-01-28 21:52] julio8a commented on #1032
Waiting for merge #1058

[2019-01-29 23:52] julio8a commented on #1032
merged.

[2019-01-29 23:52] #1032 closed

[2019-01-29 23:52] julio8a commented on #1016
merged.

[2019-01-29 23:52] #1016 closed

[2019-01-30 04:32] paulcpederson commented on #1022
new component implementation will hopefully address this safari bug with current loader: #1004

[2019-02-06 22:59] julio8a commented on #1041
- updated font weight for all tables from light (100) to regular (500)
- added `.table-minimal` (from calcite design system website)

![image](https://user-images.githubusercontent.com/6144462/52379536-9b567c80-2a1f-11e9-9a69-4dde8737bf1a.png)

[2019-02-07 21:09] julio8a commented on #1041
merged.

[2019-02-07 21:09] #1041 closed

[2019-02-07 23:12] MikeTschudi opened #1061 "Magnifying glass icon is misplaced with .input-search in Ar and He"
From our i18n reviewer: "In order to follow the RTL habit, the magnifying glass icon should be on the right side of search box."

En
![image](https://user-images.githubusercontent.com/2125181/52448941-6cf1a380-2aea-11e9-9672-da48355c7c3c.png)

Ar & He
![image](https://user-images.githubusercontent.com/2125181/52448964-7f6bdd00-2aea-11e9-9e99-de0265fc8871.png)

Sample is from documentation; base HT

[2019-02-07 23:28] MikeTschudi commented on #1061
Might this be an acceptable solution?
[code]

[2019-02-07 23:38] paulcpederson commented on #1061
@MikeTschudi yeah, looks like we fixed the success/warning icons in #990 but missed the search icons. Can probably add the rtl rule to the base class: https://github.com/Esri/calcite-web/blob/master/lib/sass/calcite-web/components/_form.scss#L1

I can try to get this onto the next patch release

[2019-02-11 21:15] jimmieego opened #1062 "Accessibility: Add Space key support for Accordions"
According to http://w3c.github.io/aria-practices/#accordion, when focus is on the accordion header, the user should be able to use Enter or Space key to expand or collapse the panel. Right now the Calcite Accordions support the Enter key, but not the Space key.

[2019-02-12 18:58] tim-white-esri opened #1063 "Button `nowrap`"
The `.btn` class has `white-space: nowrap` which causes issue on mobile. In instances with long CTA text (see example which is translated into Russian), the `nowrap` causes the button and text to overflow mobile screens.

Need to remove the `white-space` property to ensure mobile responds well.
`nowrap` code in console:
<img width="328" alt="btn-white-space-nowrap" src="https://user-images.githubu

[2019-02-25 19:59] paulcpederson commented on #1063
addressed in 1.2.5

[2019-02-25 19:59] #1063 closed

[2019-02-25 19:59] paulcpederson commented on #1062
released in 1.2.5

[2019-02-25 19:59] #1062 closed

[2019-02-25 20:00] paulcpederson commented on #1061
part of 1.2.5

[2019-02-25 20:00] #1061 closed

[2019-02-25 20:00] paulcpederson commented on #1057
deployed: http://esri.github.io/calcite-web/documentation/components/#animation

[2019-02-25 20:00] #1057 closed

[2019-02-25 20:03] paulcpederson commented on #1011
related to: #757

[2019-03-18 22:28] paulcpederson commented on #1007
Moving this back to the backlog. It will be easier to write this with new screenshots once all the components/patterns are written

[2019-03-22 01:21] macandcheese commented on #1019
Thoughts on deprecating the 'btn-disabled' class? I know we've had discussions on the appropriateness of its use.

It would be a breaking change but now would be the time to remove it and maybe suggest an alternative best practice.

@mitc7862 @paulcpederson @julio8a @bstifle

[2019-03-22 01:31] macandcheese commented on #1014
We should use the tab design from Calcite Docs

[2019-03-22 16:08] julio8a commented on #1019
@macandcheese, any suggestion on alternatives?

I'm hesitant on applying to the default anchor tag. As there can be cases where the underline might not be fitting? In the past, we use to have a few HTML tags have Calcite styling, but people requested to remove and be a class option for styling.

[2019-03-22 16:32] bstifle commented on #1019
im fine with whatever. no skin in this game for me

[2019-03-22 17:21] julio8a commented on #1012
Leverage bottom bar from tabs

[2019-03-22 17:22] julio8a commented on #1010
Leverage bottom bar from tabs.

[2019-03-22 17:31] julio8a commented on #1027
for inputs:
Inputs: padding updates
Input Groups: Flexbox [input][btn]

[2019-03-22 17:32] julio8a commented on #1028
merged with form validation. close.

[2019-03-22 17:32] #1028 closed

[2019-03-25 01:12] macandcheese commented on #1038
Closing this, we should be adding to Changelog for each issue / feature individually in the PR.

[2019-03-25 01:12] #1038 closed

[2019-03-25 19:56] #1003 closed

[2019-03-28 22:33] julio8a opened #1073 "Sub nav"
Match new sub-nav design from esri.com and ArcGIS Online

Should be a style only update with flexbox for positioning elements (no JS change)

[2019-03-28 22:41] #1009 closed

[2019-03-28 22:41] #1008 closed

[2019-03-29 00:17] paulcpederson opened #1074 "Radio Buttons are pixelated in Firefox on Windows"
Looks like setting the size of radio buttons this large is causing strange rendering for Firefox on windows machines.

We may just be able to reduce the size of the radio button elements to eliminate this pixelation.

![e2870100-5176-11e9-96d4-9fdd1b350bd5](https://user-images.githubusercontent.com/1031758/55200814-38f73e00-517d-11e9-84f7-7c772e7ea162.png)

[2019-03-29 15:00] macandcheese commented on #1030
Should address https://github.com/Esri/calcite-web/issues/1074

Also @mitc7862 these are the same style as what's currently in the category assignment page takeover correct?

[2019-03-29 15:25] mitc7862 commented on #1030
@macandcheese I believe any resemblance is coincidental

[2019-03-29 17:26] julio8a commented on #1010
This component is going to get removed and moved to tabs #1014 (styles)

[2019-04-01 19:37] #1023 closed

[2019-04-01 19:38] #1021 closed

[2019-04-05 19:24] lheberlie opened #1077 "Support expanding multiple accordions when same link is in both accordions"
We have cases where a sample in the JavaScript SDK https://js.arcgis.com will exist in the "Latest Samples" accordion and also exist in another section.

Here was the original question:

[2019-04-09 17:33] #1015 closed

[2019-04-19 21:00] julio8a commented on #1011
From the last discussion with the calcite core group, we are going to implement the style from ArcGIS Online subnav and Esri.com

[2019-04-23 14:06] jsavella opened #1080 "Console Uncaught TypeError"
Error is encountered when the "Esc" key is pressed.

Complete Msg
Uncaught TypeError: Cannot ready property 'getAttribute' of undefined .     calcite-web.min.js:7
at f (calcite-web.min.js:7)
at calcite-web.min.js:7
at u.emit (ccalcite-web.min.js:7)
at HTMLDocument.<anonymous> (calcite-web.min.js:7)

[2019-04-23 21:01] #1014 closed

[2019-04-23 21:05] macandcheese commented on #1080
Hi @jsavella - could you provide a little more context around this issue? Are you encountering this with a specific pattern or component?

[2019-04-23 21:44] paulcpederson commented on #1080
Are you on the latest version? I fixed an unhandled error event a couple releases back, so if you're not would be good to upgrade and try again.

[2019-04-24 01:10] #1010 closed

[2019-04-24 22:42] julio8a commented on #1012
PR #1082 merged.

[2019-04-24 22:42] #1012 closed

[2019-04-25 15:31] #1029 closed

[2019-04-25 21:02] julio8a commented on #1022
[Loaders-Squares.mp4.zip](https://github.com/Esri/calcite-web/files/3118863/Loaders-Squares.mp4.zip)

[2019-05-21 16:32] BennyBaruba opened #1086 "Tooltip content being cutoff when tooltips extends outside the container that holds it"
I have a location in the app that we are building where the calcite web tooltip is cutting off the text inside it, when the tooltip extends beyond the container that holds it:
![Screen Shot 2019-05-21 at 11 59 30 AM](https://user-images.githubusercontent.com/5122225/58113483-96c76580-7bc3-11e9-8da6-c35d1d0101fc.png)

It appears that the same issue is happening in the examples in the online doc for

[2019-05-21 17:12] paulcpederson commented on #1086
The only way to do this would be to create a element at the document root that's dynamically positioned with JavaScript. So it would be a breaking change and fairly heavy-handed.

As a work around, I usually just position the tooltip with a directional class that will fit inside the container. I also have a couple additional classes like `tooltip-bottom-right` and `tooltip-bottom-left` that will p

[2019-05-21 17:30] BennyBaruba commented on #1086
Thanks @paulcpederson for your feedback and suggestions.  After I submitted the issue,  I kept thinking there must be a way to fix this tooltip styling issue…and there was. Played around with it for awhile and came up with a fix by changing the div container from  `overflow-y: auto;` to `overflow-y: inherit;`and that fixed it and didn’t seem to mess anything else up in the layout.

[2019-06-10 23:14] julio8a opened #1088 "Remove patterns/components/JS"
Since we are creating a calcite-components repository, we need to remove all of the components from calcite-web.

- [x] __Merged__ PR: #1092 [tabs](https://github.com/ArcGIS/calcite-components/issues/8)
- [x] __Merged__ PR: #1091 [alerts](https://github.com/ArcGIS/calcite-components/issues/15)
- [x] __Merged__ PR: #1089 [cards](https://github.com/ArcGIS/calcite-components/issues/52)
- [ ] PR: #110

[2019-06-10 23:16] julio8a commented on #1024
This component is moving to calcite-components - [cards](https://github.com/ArcGIS/calcite-components/issues/52). closing this out

[2019-06-10 23:16] #1024 closed

[2019-06-10 23:18] paulcpederson commented on #1088
Should we still provide our default styles for browser-native checkboxes and selects?

[2019-06-10 23:20] julio8a commented on #1025
This component is moving to calcite-components - [cards](https://github.com/ArcGIS/calcite-components/issues/52). closing this out

[2019-06-10 23:20] #1025 closed

[2019-06-10 23:21] julio8a commented on #1022
This component is also moving over to calcite-components: [loader](https://github.com/ArcGIS/calcite-components/issues/7). Closing this out.

[2019-06-10 23:21] #1022 closed

[2019-06-10 23:21] julio8a commented on #1088
@paulcpederson, Yes. Good point.

[2019-06-10 23:27] julio8a commented on #1030
this is moving to calcite-components (https://github.com/ArcGIS/calcite-components/issues/1), closing this out.

[2019-06-10 23:27] #1030 closed

[2019-06-10 23:29] julio8a commented on #1013
closing this out since it's also moving to calcite-components: [modals](https://github.com/ArcGIS/calcite-components/issues/9)

[2019-06-10 23:29] #1013 closed

[2019-06-13 18:54] macandcheese commented on #1017
Will be handled by Calcite Components

[2019-06-13 18:54] #1017 closed

[2019-06-13 22:19] macandcheese commented on #1004
Closing, will be added in CC.

[2019-06-13 22:19] #1004 closed

[2019-06-15 16:44] julio8a commented on #1011
This one already got merged into 2.0.  #1085

[2019-06-15 16:44] #1011 closed

[2019-06-18 18:59] julio8a opened #1101 "Labels"
With the date-picker, toggle, and other components, we've been introducing some roundness to design artifacts. Labels need an update. Additionally, it'll be good to keep some consistency with [chips](https://github.com/ArcGIS/calcite-components/issues/47).

![image](https://user-images.githubusercontent.com/6144462/59711779-98834980-91c0-11e9-9fd6-916e99a59aa9.png)

[2019-06-20 17:02] paulcpederson commented on #1035
dup of #1007

[2019-06-20 17:02] #1035 closed

[2019-08-05 15:40] tyanthony opened #1105 "Allowing scroll in Accordion content"
I am needing to have an accordion expand to a specified height or the container's height and allowing the `accordion-content` to be scrollable.

Presently, the accordion does not seem to allow scrolling in the content. Instead, the whole accordion scrolls within the parent container. I'm needing a way to prevent this from happening. Additionally, I am rendering a component/widget inside the `accor

[2019-09-03 18:32] julio8a commented on #1101
Moving to chips in calcite-components. Closing.

[2019-09-03 18:32] #1101 closed

[2019-09-03 18:34] julio8a commented on #1019
Implemented in calcite-components:
https://github.com/Esri/calcite-components/issues/71

[2019-09-03 18:34] #1019 closed

[2019-09-03 18:35] julio8a commented on #1088
Moving components to calcite-components. JS can stay here for 1.x

[2019-09-03 18:35] #1088 closed

[2019-09-03 18:35] julio8a commented on #1073
This should be added to global-nav or calcite-components.

[2019-09-03 18:35] #1073 closed

[2019-09-03 18:36] julio8a commented on #1037
This will be handled in calcite-components: Inputs, forms, and validation.
https://github.com/Esri/calcite-components/issues/107

[2019-09-03 18:36] #1037 closed

[2019-09-03 18:36] julio8a commented on #1027
https://github.com/Esri/calcite-components/issues/107

[2019-09-03 18:36] #1027 closed

[2019-09-03 18:37] julio8a commented on #1007
We don't need this guy anymore.

[2019-09-03 18:37] #1007 closed

[2019-09-03 18:38] #1036 closed

[2019-09-03 18:38] julio8a commented on #1034
do we still need this issue?

[2019-09-03 18:38] julio8a commented on #1033
do we still need this issue?

[2019-12-16 22:29] macandcheese commented on #1105
Hi @tyanthony - apologies for the radio silence. We have a new component library - Calcite Components - that includes an updated accordion component. You should be able to constrain any components you put inside with your own styling, although the provided headers currently do not "stick" to the top (if I'm interpreting your question correctly).

You can see a demo here: https://esri.github.io/cal

[2019-12-16 22:31] macandcheese commented on #1086
Hi @BennyBaruba - doing a little issue cleanup, it sounds like this was resolved for you? We do have a new component library - Calcite Components - that includes an updated Tooltip component with better functionality: https://github.com/Esri/calcite-components

Feel free to re-open if the issue is not resolved, or give the new Tooltip component in Calcite Components a try and file any issues in th

[2019-12-16 22:31] #1086 closed

[2019-12-16 22:36] macandcheese commented on #1077
Hi @lheberlie - doing some issue cleanup, apologies for the radio silence. It looks like maybe the link you provided has changed as I don't see an accordion there?

We have a new component library - Calcite Components - that includes an updated accordion: https://esri.github.io/calcite-components/?path=/story/accordion--simple

The updated component may resolve your issue, and if not, feel free to

[2019-12-16 22:36] #1077 closed

[2019-12-16 22:38] macandcheese commented on #757
Doing some issue cleanup - This should be addressed but possibly in Calcite Components or Calcite App Components? Closing here for now.

[2019-12-16 22:38] #757 closed

[2019-12-16 22:38] macandcheese commented on #1001
Doing some issue cleanup - this functionality is probably better found / discussed @ https://github.com/Esri/global-nav for now, going to close this issue.

[2019-12-16 22:38] #1001 closed

[2019-12-16 22:39] #1034 closed

[2019-12-16 22:39] #1033 closed

[2020-04-01 13:57] gavinr opened #1106 "Un-selected tabs - 508 contrast issue"
Unselected tabs do not have a sufficient contrast ratio

## To Replicate
1. Include CDN version of Calcite on a page
1. Include the tabs sample HTML from http://esri.github.io/calcite-web/documentation/patterns/#tabs (Example: https://jsbin.com/zegesov/edit?html,js,output)
1. Run the Google Chrome Developer Tools Audit (on https://output.jsbin.com/zegesov)
1. See the failing elements under `Access

[2020-04-02 18:41] gavinr commented on #1106
Moved to https://github.com/Esri/calcite-react/issues/366

[2020-04-02 18:41] #1106 closed

[2020-06-15 18:54] MikeTschudi opened #1111 "Suggestion: event when initialization completes"
It would be helpful for our app to know when calcite.init() is done.